<div class="container-main">
	<div class="sports sports-1">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
					 	<form action="/register_teams" method="POST">
							<input type="hidden" name="sport" value="1" class="title-sport">
								Athletics
						</form>
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 offset-md-2 col-sm-6 col-12">
					<h4 class="heading-secondary">Men</h4>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-6">
							<ul class="categories">
								<li class="categories__type">100m</li>
								<li class="categories__type">200m</li>
								<li class="categories__type">400m</li>
								<li class="categories__type">800m</li>
								<li class="categories__type">1500m</li>
								<li class="categories__type">3000m</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 col-6">
							<ul class="categories">
								<li class="categories__type">4*100m Relay</li>
								<li class="categories__type">4*400m Relay</li>
								<li class="categories__type">Long Jump</li>
								<li class="categories__type">Shot Put</li>
								<li class="categories__type">Discus Throw</li>
								<li class="categories__type">Triple Jump</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<h4 class="heading-secondary">Women</h4>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-6">
							<ul class="categories">
								<li class="categories__type">100m</li>
								<li class="categories__type">200m</li>
								<li class="categories__type">400m</li>
								<li class="categories__type">800m</li>
								<li class="categories__type">1500m</li>
								<li class="categories__type">3000m</li>
							</ul>
						</div> 
						<div class="col-md-6 col-sm-6 col-6">
							<ul class="categories">
								<li class="categories__type">5000m</li>
								<li class="categories__type">4*100m Relay</li>
								<li class="categories__type">4*400m Relay</li>
								<li class="categories__type">Long Jump</li>
								<li class="categories__type">Shot Put</li>
								<li class="categories__type">Discus Throwm</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<p class="description">
				 In all the field events each participant will get 3 trials, of which the best will be considered for evaluation.
 				Heats will be conducted only for the 100m race, based on which participants will be selected
				to compete in the final race.
 				All other races will be time trails i.e., the final standings will be based on the best timings,
				irrespective of the position in the heats. The participants will be timed and the results will be decided accordingly.
 				For all the races, only one foul start overall will be considered. Any athlete committing a
				second foul start will be disqualified.
 				A maximum of 2 participants from each college in any particular event for boys and a maximum of 2 participants from each college for girls in one event are allowed (excluding
				relays, which require 4 per college team).
 				An invidual can participate in a maximum of 3 individual events (excluding relays). An event
				may stand cancelled in case of insufficient participation.
 				In any case of conflict, the referee's decision will be considered as final.
			</p>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h4 class="heading-tertiary">
						For individual event: 
					</h4>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Gold is <strong>800 INR.</strong>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Silver is <strong>400 INR.</strong> 
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h4 class="heading-tertiary">
						For relay:
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Gold is <strong>2000 INR.</strong> 
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Silver is <strong>800 INR.</strong> 
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">SHUBHAM NEGI: +91 8894959242</h6></div>
				
			</div>	
		</div>
	</div>	
</div>
