<div class="sports sports-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						<form action="/register_teams" method="POST">
							<input type="hidden" name="sport" value="2">
								Badminton
						</form>
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Format of Match: Best of 5 games (in the order) - singles, singles, doubles, singles, doubles.</li>
						<li class="description__list">Each game will have best of 3 sets (21 points each).</li>
						<li class="description__list">Team line-up for every match must be submitted before the match. Any request to change the lineup won’t be accepted after submission of the list.</li>
						<li class="description__list">Latest BWF rules will be followed for every game.</li>
						<li class="description__list">A team minimum of 4 players and maximum 6 players is required to register.</li>
						<li class="description__list">Maximum of two players can play in two games (one singles and one doubles).</li>
						<li class="description__list">In case of any discrepancy or conflict, the decision of the organizers/officials shall be final.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>900 INR.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>7500 INR</b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>3500 INR.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Format of Match: Best of 3 games (in the order) - singles, doubles, singles.</li>
						<li class="description__list">Each game will have best of 3 sets (21 points each).</li>
						<li class="description__list">Team line-up for every match must be submitted before the match. Any request to change the line up won’t be accepted after submission of the list.</li>
						<li class="description__list">Latest BWF rules will be followed for every game.</li>
						<li class="description__list">A team minimum of 3 players and maximum 4 players is required to register.</li>
						<li class="description__list">Only one player is allowed to play in two games (one singles and one doubles).</li>
						<li class="description__list">In case of any discrepancy or conflict, the decision of the organizers/officials shall be final.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>600 INR.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>5000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>2000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">JATIN YADAV: +91 9582203265</h6></div>
				<div class="col-md-6"><h6 class="heading-small">YAKSHITA MALHOTRA: +91 9560124478</h6></div>
			</div>
			
			
			
		</div>	
	</div>