<div class="sports sports-3">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						<form action="/register_teams" method="POST">
							<input type="hidden" name="sport" value="3">
								Basketball
						</form>
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">The maximum team limit is 12 players.</li>
						<li class="description__list">The game shall consist of 4 quarters of 10 minutes each and 4 time outs: 2 time outs in each half.</li>
						<li class="description__list">If there is a tie at the end of a game, a match of 5 minutes will be played. This will go on until one team outruns the other.</li>
						<li class="description__list">Concerning the game-play, all standard FIBA rules will be followed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1200.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 10000.</b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">The maximum team limit is 12 players.</li>
						<li class="description__list">The game shall consist of 4 quarters of 8 minutes each and 4 time outs: 2 time outs in each half.</li>
						<li class="description__list">If there is a tie at the end of a game, a match of 5 minutes will be played. This will go on until one team outruns the other.</li>
						<li class="description__list">Concerning the game-play, all standard FIBA rules will be followed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1200.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 10000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">ABHINAV THAKUR: +91 9873838843</h6></div>
				<div class="col-md-6"><h6 class="heading-small">HIMANI GANGWAR: +91 9718594997</h6></div>
			</div>
		</div>	
	</div>