<div class="sports sports-4">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						<form action="/register_teams" method="POST">
							<input type="hidden" name="sport" value="4">
								chess olympiad
						</form>
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">All FIDE Rules apply as on 1st Jan 2017 unless otherwise mentioned.</li>
						<li class="description__list">The basic pairing system shall be Controlled Swiss System Pairings using Match Points for both Pairing and Scoring.</li>
						<li class="description__list">Time control: 25 minutes plus an additional 10 second increment per move.</li>
						<li class="description__list">Number of rounds will be decided depending on the number of participating teams.</li>
						<li class="description__list">Chess clocks shall be provided to top boards in cases on shortage of clocks. Participants can use their own chess clocks for the matches.</li>
						<li class="description__list">A team must consist of a maximum of 5 players, with 4 players playing in the tournament and one player playing as a substitute.</li>
						<li class="description__list">There shall be no restriction to including women players in the Chess Team.</li>
						<li class="description__list">Each team must clearly state the playing order of its team while sending the entry. If the team wishes to play their substitute in a particular round, the Team Captain should intimate this to the Chief Arbiter before the round begins. Rules for substitution have been explained below in detail.</li>
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">Rules for substitution: "Roll over substitution"</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The boards lower to the board on which substitution is made will slide up one board till the board of substitution.</li>
						<li class="description__list"><strong>Example 1:</strong> Assume the following board order- A-1, B-2, C-3, D-4. Substitute player E. In case, the player A (on board 1) is to be substituted, the new board order should be B-1, C-2, D-3, E-4 (Non- playing A).</li>
						<li class="description__list"><strong>Example 2:</strong> Assume following board order- A-1, B-2, C-3, D-4. Substitute player E. In case the player C (on board 3) is to be substituted, the new board order should be A-1 B-2, D-3, E-4 (Non playing-C).</li>
						<li class="description__list">No player shall be replaced after the team has been registered.</li>
						<li class="description__list">Each team is required to play through the entire tournament. Teams which do not play two rounds in succession shall be automatically disqualified and their name shall be struck off from the pairing list.</li>
						<li class="description__list">Each team shall be awarded 1 point for a win, 0.5 points for a 2-2 draw and 0 points in case of a loss. In case of the same number of points of two winning teams, the winner shall be adjudged according to FIDE guidelines.</li>
						<li class="description__list">The final positions of the teams shall be established by the number of game points scored by each team.</li>
						<li class="description__list">Only one participating team is permitted from a single college. The host college shall have 2 participating teams in the tournament.</li>
						<li class="description__list">In case of any dispute, the decision of the Chief Arbiter shall be considered final and binding.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
						
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 7000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						1st runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						2nd runners up will be awarded <b>&#x20b9; 3000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">NITIN LOHCHAB: +91 7827916709</h6></div>
			</div>
		</div>	
	</div>