<div class="sports sports-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						cricket(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Matches shall be played according to the ICC rules in force, as adopted from time to time by the Board of Control for Cricket in India, unless otherwise modified.</li>
						<li class="description__list">All the matches shall be conducted on knock out basis and each side is allowed to complete 20 overs unless the opposing team is dismissed earlier. Each bowler can bowl a maximum of 4 overs. The semi-finals and final also will be of 20 overs.</li>
						<li class="description__list">The bowling team will be given 85 minutes to complete its quota of 20 overs. The penalty for every short over will be decided by all the umpires prior to the meet.</li>
						<li class="description__list">No spike shoes will be allowed to use by the players.</li>
						<li class="description__list">If there is a tie, SUPER OVER will be played.</li>
						<li class="description__list">The umpires are empowered to rearrange the number of overs by each side in the event of a delayed start or if play is suspended. The number of overs for the team batting second will not be reduced if the team batting first has been dismissed in fewer than agreed number of overs.</li>
						<li class="description__list">Each team shall submit a list of players with their COLLEGE IDs not exceeding sixteen who may participate in the tournament. Not more than 16 certificates shall be awarded to a team. Failing to provide legitimate IDs will not allow that player to participate.</li>
						<li class="description__list">In case, if any team is found playing player who doesn't belong to that particular college, that team will be banned from the tournament with immediate effect and no PRIZE will be awarded in any case.</li>
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">Other important points:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">In case of heavy rain, decision taken by umpires will be considered as final.</li>
						<li class="description__list">In case of any discrepancy during finals or semi-finals, winner will be decided on the basis of point tally of league matches STRICTLY.</li>
						<li class="description__list">Teams need to report to the ground 15 minutes before the scheduled start time.</li>
						<li class="description__list">Walkover will be given to a team if the opponent team is not able to reach the ground within 15 minutes of the scheduled time.</li>
						<li class="description__list">No team shall argue with umpires in any case. It could lead to cancellation of team registration and no refunds will be given. It could also attract proper disciplinary actions against the team.</li>
		
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 4000.</b></li>
						
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 15000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">SHREYASH MUNDHRA: +91 8860135054</h6></div>
				
			</div>
		</div>	
	</div>