	<div class="footer">
				<a href="https://www.facebook.com/aahvaandtu/"><button><i class="fa fa-facebook-square" aria-hidden="true"></i></button></a>
				<a href="#"><button><i class="fa fa-instagram" aria-hidden="true"></i></button></a>
	</div>

</body>
</html>
 