
	
	<div class="sports sports-6">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						football(men and women)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Matches shall be played according to the rules of FIFA as adopted from time to time by the All India Football Federation unless otherwise modified.</li>
						<li class="description__list">Every team shall submit a list of players, not exceeding 16, who may participate in the tournament. Not more than 16 certificates shall be awarded to a team.</li>
						<li class="description__list">The duration of each match shall be 50 minutes (25-5-25). During the league stage, after the expiry of play-time, if the tie still persists, the points shall be shared equally.</li>
						<li class="description__list">In the event of a draw at the end of a knock out game, two periods of extra time (10 minutes each, with 2 minutes break) will be included. There will be penalty shootout if the tie still persists.</li>
						<li class="description__list">A team will be awarded 3 points for a win, 1 for draw, and zero points for a lost match.</li>
						<li class="description__list">In case of tie, goal differences (i.e. Goals FOR minus Goals AGAINST) of all the matches played by the team shall be considered. If the tie still persists, the number of goals 'FOR' throughout the tournament shall be considered. If tie still persists, a coin toss will be done.</li>
						<li class="description__list">Three substitutions per match will be allowed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1900.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 15000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Every team shall submit a list of players, not exceeding 12, who may participate in the tournament. Not more than 12 certificates shall be awarded to a team.</li>
						<li class="description__list">Matches will be played with teams having 7 players each.</li>
						<li class="description__list">The duration of each match shall be 30 minutes (15-5-15). During the league stage, if there is a tie, the points shall be shared equally.</li>
						<li class="description__list">In the event of a draw at the end of a knock out game, there will be a penalty shootout (no extra time).</li>
						<li class="description__list">A team will be awarded 3 points for a win, 1 for draw, and zero points for a lost match.</li>
						<li class="description__list">In case of tie, goal differences (i.e. Goals FOR minus Goals AGAINST) of all the matches played by the team shall be considered. If the tie still persists, the number of goals 'FOR' throughout the tournament shall be considered. If tie still persists, a coin toss will be done.</li>
						<li class="description__list">Rolling substitution will be allowed during the match.</li>
						<li class="description__list">Offside rule will not be considered during the match.</li>
						<li class="description__list">When the ball goes out of play, the ball will be kicked in to start the play. Throw in shall not be allowed.</li>
						<li class="description__list">There will be a minimum distance of 5 yards between opponent and the ball while starting the play from still ball. Eg. When there is a foul, kick in, free kick, etc.</li>
						<li class="description__list">All other basic rules of FIFA will be followed during the match.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 7000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 3000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">AMAN SINGH BISHT: +91 8527345309</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ANSHU BARWAL: +91 9818645767</h6></div>
			</div>
			
			
			
		</div>	
	</div>