	<div class="home-footer">
			<button><i class="fa fa-facebook-square" aria-hidden="true"></i></button>
			<button><i class="fa fa-twitter-square" aria-hidden="true"></i></button>
			<button><i class="fa fa-google-plus-square" aria-hidden="true"></i></button>
	</div>

</body>
</html>
 