<div class="sports sports-7">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						handball(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The match consists of two periods of 30 minutes each.</li>
						<li class="description__list">From a maximum of 10 players from each college 7 players will be on the field at a time including goalkeeper and 6 outfield players.</li>
						<li class="description__list">Outfield players can touch the ball with any part of their body that is above the knee.</li>
						<li class="description__list">Once a player recieves possession, they can pass, hold possession or shoot.</li>
						<li class="description__list">If a player holds possession, they can dribble or take three steps for up to three seconds without dribbling.</li>
						<li class="description__list">Goalkeepers are allowed out of the goal area but must not retain possession if they are outside the goal area.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>


			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 3000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">AMAN JAIN: +91 9810900824</h6></div>
				
			</div>
		</div>
	</div>