<div class="sports sports-8">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						kabaddi(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The tournament shall be conducted under the International Kabaddi Federation rules as adopted by the Amateur Kabaddi Federation of India, unless otherwise modified.</li>
						<li class="description__list">Every team shall submit a list of players, not exceeding 12, who may participate in the tournament. Not more than 12 certificates shall be awarded to a team.</li>
						<li class="description__list">No team shall argue with referees in any case. It could lead to cancellation of team registration and no refunds will be given. It could also attract proper disciplinary actions against the team.</li>
						<li class="description__list">Once a player recieves possession, they can pass, hold possession or shoot.</li>
		
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>


			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 11000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">SACHIN LOHCHAB: +91 7838844676</h6></div>
				
			</div>
		</div>
	</div>