<% include header_three %>
<div class="navbar-fixed" id="nav_three">
    <nav class="transparent z-depth-0" id="nav">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="https://s3.ap-south-1.amazonaws.com/aahvaan/images/AV.png" width="80px" height="80px"></a>
                <a  data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down" id="menu">
                    <li class="li">
                        <a data-menuanchor="home" id="home2" class="nav_element">Home</a>
                    </li>
                	  <li class="li">
                        <a data-menuanchor="about" id="about_us" class="nav_element">About Us</a>
                    </li>	
                    <li class="liv">
                        <a  data-menuanchor="events" id="event" class="nav_element">Events</a>
                    </li>
                    <li class="liv">
                        <a data-menuanchor="ca" id="ca2" class="nav_element">Campus Ambassador</a>
                    </li>
                    <li class="liv">
                        <a data-menuanchor="theme" id="theme2" class="nav_element">Fixtures</a>
                    </li>
                     <li class="liv">
                        <a  data-menuanchor="lookback" id="lookback2" class="nav_element">Lookback</a>
                    </li>
                     <li class="liv">
                        <a  data-menuanchor="sponsor" id="sponsor2" class="nav_element">Sponsor</a>
                    </li>
                    <li class="liv">
                        <a  data-menuanchor="register" id="register2" class="nav_element">Register</a>
                    </li>
                    <% if(username){ %>
                    <li class="liv">
                         <a  href="my_teams" id="teams" class="nav_element">My Teams<span class="new badge blue" data-badge-caption=""><%= number_of_teams %></span></a>
                    </li>
                    <li class="liv">
                     <a href="/logout" class="nav_element">Log Out</a>
                    </li>
                    <% }else{ %>
                    <li class="liv"> 
                    <a href="/login" class="nav_element">Log In</a>
                    <% } %>
                    </li>
                </ul>
            </div>
    </nav>
</div>
 <ul class="side-nav" id="mobile-demo">
                   <li class="li">
                        <a href="#home" data-menuanchor="home" id="home2">Home</a>
                    </li>
                     <li class="li">
                        <a href="#about" data-menuanchor="about" id="about_us">About Us</a>
                    </li>   
                    <li class="liv">
                        <a  href="#events" data-menuanchor="events" id="event">Events</a>
                    </li>
                    <li class="liv">
                        <a href="#ca" data-menuanchor="ca" id="ca2">Campus Ambassador</a>
                    </li>
                    <li class="liv">
                        <a href="#theme" data-menuanchor="theme" id="theme2">Fixtures</a>
                    </li>
                     <li class="liv">
                        <a  href="#lookback" data-menuanchor="lookback" id="lookback2">Lookback</a>
                    </li>
                     <li class="liv">
                        <a  href="#sponsor" data-menuanchor="sponsor" id="sponsor2">Sponsor</a>
                    </li>
                    <li class="liv">
                        <a  href="#register" data-menuanchor="register" id="register2">Register</a>
                    </li>
                        <% if(username){ %>
                        <li class="liv">
                         <a  href="/my_teams"  id="teams"> My Teams<span class="new badge blue" data-badge-caption=""><%= number_of_teams %></span></a>
                        </li>
                        <li class="liv">
                         <a href="/logout">Log Out</a>
                        </li>
                        <% }else{ %>
                        <li class="liv"> 
                         <a href="/login">Log In</a>
                        </li>
                        <% } %>
                </ul>