
<% include header %>
			<!-- Navbar -->
<nav class="navbar navbar-transparent sticky-top navbar-expand-lg navbar-dark">
	<div class="container">
	<a class="navbar-brand" href="/">A</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="">Events</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="/campus_ambassador">Campus Ambassador</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="">Theme</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="">Lookback</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="">Sponsors</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="">Live</a>
			</li>
			</li>
			 <li class="nav-item">
				<a class="nav-link" href="">Reach Us</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
		 	<% if(username){ %>
		 		<li class="nav-item">
				<a class = "nav-link" href="/register_teams"><button class="btn btn-outline-success" type="button">Register Teams</button></a>
			</li>
		 		<a class = "nav-link" href="/logout"><button class="btn btn-outline-success" type="button" id="name_logout">Hello,<%= username %></button></a>
		 	<% } else { %>
		 	<li class="nav-item">
				<a class = "nav-link" href="/register"><button class="btn btn-outline-success" type="button">Register Leader</button></a>
			</li>
			<li class="nav-item">
				<a class = "nav-link" href="/login"><button class="btn btn-outline-success" type="button">
				Log In</button></a>
			<% } %>
			</li>
		</ul>
	</div>
</div>
</nav>
