<div class="sports sports-9">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="heading-primary">
						<span class="heading-text" id="heading__power">powerlifting</span><span class="heading-text">(men)</span>
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The competition shall be conducted under the International Power Lifting Federation Rules as adopted by the Indian Powerlifting Federation, unless otherwise modified.</li>
						<li class="description__list">Weight Categories: 55-65 Kg, 65-75 Kg, 75-85 Kg, 85+ Kg. (Categories are subject to change depending on the number of contestants.)</li>
						<li class="description__list">The competition will comprise of 3 lifts - Squat, Bench Press & Dead Lift performed in the same order.</li>
						<li class="description__list">Every lifter will get 3 lift attempts each for bench press, squat & dead lift.</li>
						<li class="description__list">The progression after every successful attempt for the same athlete must be a minimum of 1 kilogram.</li>
						<li class="description__list">Winner will be judged by the sum of heaviest lifts performed successfully for each kind of lift.</li>
						<li class="description__list">Each participant will be weighed and tested for dope before the prelims.</li>
					</ul>
				</div>	
			</div>

			<h3 class="heading-secondary--1">Fouls :-</h3>

			<h5 class="heading-secondary--1">SQUAT:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Failure to bend the knees and lower the body until the top surface of the legs at the hip joint are lower than the top of the knees.</li>
						<li class="description__list">Failure to assume an upright position with the knees locked at the commencement and completion of the lift. Any downward movement of the bar during the lift. Changing the position of the bar across the shoulders after the commencement of the lift. Any downward movement of the bar on the back more than the diameter/thickness of the bar below the lifter's chosen starting position.</li>
						<li class="description__list">Stepping backward or forward although lateral movement of the foot and rocking the feet between the ball and heel is permitted.</li>
						
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">BENCH PRESS:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Bar is not lowered to chest i.e. not reaching the chest or is touching the abdominal area.</li>
						<li class="description__list">Any pronounced or exaggerated uneven extension of the arms during the lift. Any downward movement of the whole of the bar in the course of being pressed out. Failure to press the bar to full extension of the arms at the completion of the lift.</li>
						<li class="description__list">Heaving, or sinking the bar after it has been motionless on the chest, in such a way as to aid the lifter.</li>
						
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">DEAD LIFT:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Failure to lock the knees straight at the completion of the lift. Failure to stand erect with the shoulders back.</li>
						<li class="description__list">Any downward movement of the bar before it reaches the final position. If the bar settles as the shoulders come back this should not be reason to disqualify the lift. Supporting the bar on the thighs during the performance of the lift. If the bar edges up the thighs but is not supported, this is not a reason for disqualification.</li>
						<li class="description__list">Lowering the bar before receiving the referee signal.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each player is <b>&#x20b9; 200.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winner will be awarded <b>&#x20b9; 4000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						1st runner up will be awarded <b>&#x20b9; 2500.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						2nd runner up will be awarded <b>&#x20b9; 1500.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">VINAY SEHWAG: +91 9999756681</h6></div>
				<div class="col-md-12"><h6 class="heading-small">AMIT : +91 8826538401</h6></div>
				
			</div>
		</div>	
	</div>