<div id="showTabs">
<div class="container">
	<div class="row">
		<div class="col rectangle rectangle-1" onclick="getElementById('form-1').submit()">
			<form action="/admin/showScores" method="POST" id="form-1">
		<input type="hidden" name="sport" value="1">
			<h1 class="text-center" style="color: white;">Athletics</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-2" onclick="getElementById('form-2').submit()">
			<form action="/admin/showScores" method="POST" id="form-2">
		<input type="hidden" name="sport" value="2">
			<h1 class="text-center" style="color: white;">Badminton</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-3" onclick="getElementById('form-3').submit()">
			<form action="/admin/showScores" method="POST" id="form-3">
		<input type="hidden" name="sport" value="3">
			<h1 class="text-center" style="color: white;">Basketball</h1>
		</form>
		</div>
	</div>


	<div class="row">
		<div class="col rectangle rectangle-4" onclick="getElementById('form-4').submit()">
			<form action="/admin/showScores" method="POST" id="form-4">
		<input type="hidden" name="sport" value="4">
			<h1 class="text-center" style="color: white;">Chess</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-5" onclick="getElementById('form-5').submit()">
			<form action="/admin/showScores" method="POST" id="form-5">
		<input type="hidden" name="sport" value="5">
			<h1 class="text-center" style="color: white;">Cricket</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-6" onclick="getElementById('form-6').submit()">
			<form action="/admin/showScores" method="POST" id="form-6">
		<input type="hidden" name="sport" value="6">
			<h1 class="text-center" style="color: white;">Football</h1>
		</form>
		</div>
	</div>


	<div class="row">
		<div class="col rectangle rectangle-7" onclick="getElementById('form-7').submit()">
			<form action="/admin/showScores" method="POST" id="form-7">
		<input type="hidden" name="sport" value="7">
			<h1 class="text-center" style="color: white;">Handball</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-8" onclick="getElementById('form-8').submit()">
			<form action="/admin/showScores" method="POST" id="form-8">
		<input type="hidden" name="sport" value="8">
			<h1 class="text-center" style="color: white;">Kabaddi</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-9" onclick="getElementById('form-9').submit()">
			<form action="/admin/showScores" method="POST" id="form-9">
		<input type="hidden" name="sport" value="9">
			<h1 class="text-center" style="color: white;">Powerlifting</h1>
		</form>
		</div>
	</div>

	<div class="row">
		<div class="col rectangle rectangle-10" onclick="getElementById('form-10').submit()">
			<form action="/admin/showScores" method="POST" id="form-10">
		<input type="hidden" name="sport" value="10">
			<h1 class="text-center" style="color: white;">Table Tennis</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-11" onclick="getElementById('form-11').submit()">
			<form action="/admin/showScores" method="POST" id="form-11">
		<input type="hidden" name="sport" value="11">
			<h1 class="text-center" style="color: white;">Tennis</h1>
		</form>
		</div>
		<div class="col rectangle rectangle-12" onclick="getElementById('form-12').submit()">
			<form action="/admin/showScores" method="POST" id="form-12">
		<input type="hidden" name="sport" value="12">
			<h1 class="text-center" style="color: white;">Volleyball</h1>
		</form>
		</div>
	</div>
</div>
</div>