  <form action="/admin/upload" method="POST" enctype="multipart/form-data">
  	<input type="file" name="feed" class="form-control float-right">
  <input type="submit" class="form-control float-right"  style="max-width: 100px;margin-right: 30px" value="UPLOAD">
</form>
<br>
<br>
<div class = "container">
<ul>
<!-- <% feeds.forEach(function(feed){ %>
<li>
	<img src="<%= feed.img %>">
</li>
<% }); %> -->
</ul>
</div>
