<div class="sports sports-10">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						table tennis
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">The rules of the tournament of the International Table Tennis Federation as adopted from time to time by the Table Tennis Federation of India shall apply unless otherwise modified.</li>
						<li class="description__list">Format of Play: Singles (A vs X), singles (B vs Y), doubles (C vs Z) and reverse singles (A vs Y & B vs X).</li>
						<li class="description__list">A maximum of 4 players and a minimum of 3 players are allowed in a team.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">The rules of the tournament of the International Table Tennis Federation as adopted from time to time by the Table Tennis Federation of India shall apply unless otherwise modified.</li>
						<li class="description__list">Format of Play: Singles (A vs X), singles (B vs Y), doubles (C vs Z) and reverse singles (A vs Y & B vs X).</li>
						<li class="description__list">A maximum of 4 players and a minimum of 3 players are allowed in a team.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">FAHAD: +91 7042135799</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ANKITA ARORA: +91 9968892928</h6></div>
			</div>
			
			
			
		</div>	
	</div>