<div class="sports sports-11">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						tennis
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Each team should have minimum 3 and maximum 4 players.</li>
						<li class="description__list">Each match will have two singles and one doubles match. The reverse singles will only be played to break the tie (in case one team wins the singles and the other team wins the doubles).</li>
						<li class="description__list">Only one player is allowed to play both singles and doubles matches.</li>
						<li class="description__list">First stage will be pool stage where the number of pools and the number of teams in them will be decided on the basis of the number of participating teams.</li>
						<li class="description__list">The pool stage matches will be best of 17 games each.</li>
						<li class="description__list">The semis and finals will be best of 3 sets each.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Each team should have minimum 2 and maximum 4 players.</li>
						<li class="description__list">The format of the match will include one singles round then one doubles round (Best of three short sets (each short set comprises of 7 games) for the initial rounds). In case of a draw, there will be a singles tie-breaker of 11 points.</li>
						<li class="description__list">The doubles match may be played by any two players from the team.</li>
						<li class="description__list">The finals will be best of 3 sets each.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 500.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 4000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 1500 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">KUNAL MAHAJAN: +91 8750482238</h6></div>
				<div class="col-md-6"><h6 class="heading-small">POORVA SHRIVASTAVA: +91 9650137260</h6></div>
			</div>
			
			
			
		</div>	
	</div>