	
	
	
	
	<div class="sports sports-12">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						volleyball
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Concerning the game-play, all standard FIVB rules will be followed.</li>
						<li class="description__list">Teams should report to the court half an hour before their match.</li>
						<li class="description__list">All the players will be required to show their ID cards before the beginning of the match failing which the defaulting inpidual will not be allowed to play.</li>
						<li class="description__list">"Rotation" rule will be followed during all the matches unless both the teams agree to play "fixed".</li>
						<li class="description__list">All league matches will be best out of three sets. Each set will be of 25 points.</li>
						<li class="description__list">In case of any dispute during the match, the decision of the referees will be considered final and binding.</li>
						<li class="description__list">Any disciplinary violation by any member of the team will lead to disqualification of the team.</li>
						<li class="description__list">If a team arrives late by more than 15 minutes, it will be awarded a 2-0 (25-0, 25-0) loss.</li>
						<li class="description__list">Teams should bring their own balls for practice. Match balls will be provided for the matches.</li>
						<li class="description__list">The schedule of the tournament is subject to change at any point of time, so the teams are requested to check the notice board regularly.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 4000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Maximum players allowed in a team - 10.</li>
						<li class="description__list">All standard FIVB rules applicable.</li>
						<li class="description__list">"Rotation" rule will be followed during all matches, unless both the teams agree to play "fixed".</li>
						<li class="description__list">The format of the tournament will be decided upon the arrival of teams.</li>
						<li class="description__list">All league matches will be best out of 3 sets. Each set will be of 25 points.</li>
						<li class="description__list">The schedule of the tournament will be provided to the teams upon their arrival and is subject to change at any point of time, so the teams are requested to check the notice board regularly.</li>
						<li class="description__list">In case of any dispute during the match, the decision of the referees will be considered final and binding.</li>
						<li class="description__list">Any disciplinary violation by any member of the team will lead to disqualification of that team.</li>
						<li class="description__list">All the players will be required to show their ID cards before the beginning of the match failing which the defaulting inpidual will not be allowed to play.</li>
						<li class="description__list">Teams should report to the court half an hour before their match.</li>
						<li class="description__list">If a team arrives late by more than 15 minutes, it will be awarded a 2-0 (25-0, 25-0) loss.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 4000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">AKASH SHINDE: +91 5605187757</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ANUPREET KAUR: +91 97711369622</h6></div>
			</div>
			
			
			
		</div>	
	</div>