<% include partials/header %>
<% if(alert){ %>
<div class="alert alert-warning alert-dismissible fade show credentials" role="alert">
  <strong>Wrong credentials!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = false %>
<% } %>
<main class="main-form">
<section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/admin" class="form" method="POST">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                       Admin Sign In
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input type="email"  name="admin_email" class="form__input" placeholder="Email address" id="email" required>
                                    <label for="email" class="form__label">Email Address</label>
                                </div>
                                <div class="form__group">
                                    <input type="password" name="admin_password" class="form__input" placeholder="Password" id="pass" required>
                                    <label for="pass" class="form__label">Password</label>
                                </div>
                                 
                                <div class="form__group">
                                    <button class="butn butn--green">Login &rarr;</button>
                                </div>

                             </form>
                         </div>
                     </div>
                 </div>
             </section>
</main>

<% include partials/footer %>