<% include partials/nav_aahvaan %>
<main class="main-form">
 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                          <form action="/cart_submit" method="POST">
                             <div class="u-margin-bottom-medium">
                                 <h2 class="heading-secondary-main">
                                     Checkout
                                  </h2>
                              </div>
                               <div class="form__group">
                                <div class="form__group">
                                   <button class="butn butn--green">Submit &rarr;</button>
                                </div>
                             </form>
                           </div>
                         </div>
                       </div>
                     </section>
</main>