<% var transparent = false; %>
 <% include partials/nav_aahvaan %> 
<% if(alert==1){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Please fill this form only if you have submitted your Profile URL and Screenshot.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = 0 %>
<% }else if(alert==2){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Email not found!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = 0 %>
<% }else if(alert==3){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Screenshot or Profile URL not submitted!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = 0 %>
<% }else if(alert==4){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Error occured!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = 0 %>
<% } %>

<section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/download_ticket_again" class="form" method="POST" id="download_ticket_again">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                      DOWNLOAD TICKET
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input type="email" name="user_email" class="form__input" placeholder="Enter Email" id="user_email" required>
                                    <label for="user_email" class="form__label">Enter Email</label>
                                </div> 
                                <div class="form__group">
                                    <button class="butn butn--green">Submit &rarr;</button>
                                </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </section>
           <% include partials/footer %>