<% var transparent = false ; %>
 <% include partials/nav_aahvaan %> 
<div class="container">
	<div class="row">
		<div class="col rectangle rectangle-1">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Athletics</a></h1>
		</div>
		<div class="col rectangle rectangle-2">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Badminton</a></h1>
		</div>
		<div class="col rectangle rectangle-3">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Basketball</a></h1>
		</div>
	</div>


	<div class="row">
		<div class="col rectangle rectangle-4">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Chess</a></h1>
		</div>
		<div class="col rectangle rectangle-5">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Cricket</a></h1>
		</div>
		<div class="col rectangle rectangle-6">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Football</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col rectangle rectangle-7">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Handball</a></h1>
		</div>
		<div class="col rectangle rectangle-8">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Kabaddi</a></h1>
		</div>
		<div class="col rectangle rectangle-9">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Powerlifting</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col rectangle rectangle-10">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Table Tennis</a></h1>
		</div>
		<div class="col rectangle rectangle-11">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Tennis</a></h1>
		</div>
		<div class="col rectangle rectangle-12">
			<h1 class="text-center" style="color: white;"><a href="" style="color: white;">Volleyball</a></h1>
		</div>
	</div>
</div>
<% include partials/footer %>