<% var transparent = false ; %>
<% include partials/nav_aahvaan %>
<div class="card">
  <div class="card-block">
    Further Instructions for updating the password has been sent to&nbsp<strong><%= useremail %></strong> 
  </div>
</div>
