<% var transparent = false ; %>
<% include partials/nav_aahvaan %>
<div id="showTabs">
    <% if(alert==1){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error occured!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }else if(alert==2){ %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Email not found!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }else if(alert==3){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Password reset token is invalid or has expired!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% alert = 0; %>
<main class="main-form">
 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                          <form action="/send_token" method="POST">
                             <div class="u-margin-bottom-medium">
                                 <h2 class="heading-secondary-main">
                                     Enter email to update password
                                  </h2>
                              </div>
                               <div class="form__group">
                                 <input type="email"  name="user_email" class="form__input" placeholder="Email address" id="email" required>
                                 <label for="email" class="form__label">Email Address</label>
                               </div>
                                <div class="form__group">
                                   <button class="butn butn--green">Submit &rarr;</button>
                                </div>
                             </form>
                           </div>
                         </div>
                       </div>
                     </section>
</main>
</div>