<% include partials/nav_aahvaan %>
	<div>
		<div class="slideshow-text">
			<h1>
				AAHAVAN 2K18
			</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt, blanditiis reiciendis aspernatur ex! Tenetur provident aspernatur, dolorum nihil voluptatum pariatur accusamus molestias molestiae.
				Lorem
			</p>			
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
<% include partials/footer %>