<% include partials/header_two %>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Aahvaan</a>
                <a  data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                	  <li>
                        <a id="about_us">About Us</a>
                    </li>	
                    <li>
                        <a id="events">Events</a>
                    </li>
                    <li>
                        <a id="ca">Campus Ambassador</a>
                    </li>
                    <li>
                        <a id="theme">Theme</a>
                    </li>
                     <li>
                        <a id="lookback">Lookback</a>
                    </li>
                     <li>
                        <a id="live">Live</a>
                    </li>
                    <li>
                        <a id="register">Register</a>
                    </li>
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                	  <li>
                        <a id="about_us">About Us</a>
                    </li>	
                    <li>
                        <a id="events">Events</a>
                    </li>
                    <li>
                        <a id="ca">Campus Ambassador</a>
                    </li>
                    <li>
                        <a id="theme">Theme</a>
                    </li>
                     <li>
                        <a id="lookback">Lookback</a>
                    </li>
                     <li>
                        <a id="live">Live</a>
                    </li>
                    <li>
                        <a id="register">Register</a>
                    </li>
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar -->
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/aahvaan_logo.jpg">
    </div>
</div>

<div class="container about">
    <!-- About -->
    <h2 class="header">About Us</h2>
    <p class="about-para">From historical wrestling to modern cricket, sports have always played a key part in shaping our country's history.Culture
    and sports are both taken forward by people who dare to follow their dream, and with the same zeal we announce AAHVAAN
    ‘18, the annual sports fest of DTU. A unique fusion of sports and culture, AAHVAAN is an attempt to pay homage to our
    athletic heritage. Join us in this journey as we dare to merge thumping hearts with tapping feet at North India’s grandest
    Inter-Collegiate sports extravaganza from 23rd to 26th March 2018.</p>
    <!-- About -->
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/7.jpg">
    </div>
</div>
<div class="container event">
    <!-- Events -->
    <h2 class="header">Events</h2>
    <p class="about-para">Legen-Wait for it-Dary. Stay tuned on this page for exciting events soon!</p>
    <!-- Events -->
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/9.jpg">
    </div>
</div>
<div class="container ca">
    <h2 class="header">Campus Ambassador</h2>
    <p class="about-para">Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. 
						We need imaginative and charismatic representatives in every college to create a  "happening" AAHVAAN! 
						Be a campus ambassador for AAHVAAN'18 and earn tons of first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
						<button> <a href="/campus_ambassador">Click here</a></button> to apply</p>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/11.jpg">
    </div>
</div> 
<div class="container theme">
    <!-- Theme -->
    <h2 class="header">Theme</h2>
    <p class="about-para">Our fest is a product of heart and soul. Stay tuned as we bring you this year's theme soon.</p>
    <!-- Theme -->
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/13.jpg">
    </div>
</div>
<div class="container lookback">
    <!-- Lookback -->
    <h2 class="header">Lookback</h2>
    <p class="about-para"><p>
							4 days. 12 sports. India's top rock band. 1 Social cause. 300 volunteers. Over 40 colleges. Delhi's first Color Run. DTU's first Sufi night. 
						</p>
						<p>
							Whether it was the sports infrastructure or sporting culture, AAHVAAN stood true to its meaning: a revolution. 
							This year, we go big. 
						</p></p>
    <!-- Lookback -->
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/23.jpg">
    </div>
</div>
<div class="container register">
    <!-- Live -->
    <h2 class="header">Live</h2>
    <p class="about-para">
	Live scores will appear once the matches begin. 
	</p>
    <!-- Register -->
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="parallax-image" src="images/1.jpg">
    </div>
</div>
<div class="container register">
    <!-- Register -->
    <h2 class="header">Register</h2>
    <p class="about-para">
	Registration Rules 
	</p>
    <!-- Register -->
</div>
<div class="reach-panel">
    <div class="container">
        <!-- Reach -->
        <div class="row">
            <div class="col m4">
                <h2>
                    <i class="fa fa-thumbs-up fa-2x" style="color: #ef6969;" aria-hidden="true"></i>
                </h2>
                <h5 class="reach-header">100000+ Reach</h5>
                <p class="reach-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti doloribus sapiente saepe! Quasi veritatis
                    nulla minima accusantium veniam voluptate rerum voluptatum, reprehenderit porro, obcaecati illum fugit
                    adipisci provident repudiandae assumenda.</p>
            </div>
            <div class="col m4">
                <h2>
                    <i class="fa fa-user-plus fa-2x" style="color: #ef6969;" aria-hidden="true"></i>
                </h2>
                <h5 class="reach-header">25000+ Footfall</h5>
                <p class="reach-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti doloribus sapiente saepe! Quasi veritatis
                    nulla minima accusantium veniam voluptate rerum voluptatum, reprehenderit porro, obcaecati illum fugit
                    adipisci provident repudiandae assumenda.
                </p>
            </div>
            <div class="col m4">
                <h2>
                    <i class="fa fa-venus fa-2x" style="color: #ef6969;" aria-hidden="true"></i>
                </h2>
                <h5 class="reach-header">2500+ Participation</h5>
                <p class="reach-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti doloribus sapiente saepe! Quasi veritatis
                    nulla minima accusantium veniam voluptate rerum voluptatum, reprehenderit porro, obcaecati illum fugit
                    adipisci provident repudiandae assumenda.
                </p>
            </div>
        </div>
        <!-- Reach -->
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <!-- Campus Ambassador -->
       <!--  <div class="col m5 campus">
            <h3 class="header">Campus Ambassador</h3>
            <p class="divided-para">
                Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. We need imaginative and charismatic
                representatives in every college to create a "happening" AAHVAAN! Be a campus ambassador for AAHVAAN'18 and earn tons of
                first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
                <a class="campus-a" href="#">Click here</a> to apply
            </p>
        </div> -->
        <!-- Campus Ambassador -->
        <!-- Events -->
       <!--  <div class="col m5 offset-m2 events">
            <h3 class="header">Events</h3>
            <p class="divided-para">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellendus est perferendis quam nisi consectetur maiores ab excepturi facilis autem illum dolore pariatur magni, possimus, nesciunt, voluptatum delectus corrupti libero.
            </p>
            <p class="divided-para">
                <a class="waves-effect waves-teal btn events-a">Go to Events</a>
            </p>
        </div> -->
        <!-- Events -->
        <!-- Theme -->
       <!--  <div class="col m5  events">
            <h3 class="header">Theme</h3>
            <p class="divided-para">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellendus est perferendis quam nisi consectetur maiores
                ab excepturi facilis autem illum dolore pariatur magni, possimus, nesciunt, voluptatum delectus corrupti libero.
            </p>
            <p class="divided-para">
                <a class="waves-effect waves-teal btn events-a">Go to Theme</a>
            </p>
        </div> -->
        <!-- Theme -->
       <!--  <!-- Register Now -->
     <!--    <div class="col m5 offset-m1 events">
            <h3 class="header">Register Now</h3>
            <p class="divided-para">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia earum impedit doloribus exercitationem dolorum placeat quidem temporibus mollitia dolorem rerum vel ipsam delectus eos neque, nobis necessitatibus autem. Quae, vero.
            </p>
            <p class="divided-para">
                <a class="waves-effect waves-teal btn events-a">Click Here to Register</a>
            </p>
        </div> -->
        <!-- Register Now -->
        <!-- Lookback -->
      <!--   <div class="col m5 offset-m1 events">
            <h3 class="header">Lookback</h3>
            <p class="divided-para">
                4 days. 12 sports. India's top rock band. 1 Social cause. 300 volunteers. Over 40 colleges. Delhi's first Color Run. DTU's
                first Sufi night.
            </p>
            <p class="divided-para">
                Whether it was the sports infrastructure or sporting culture, AAHVAAN stood true to its meaning: a revolution. This year,
                we go big.
            </p>
            <p class="divided-para">
                <a class="waves-effect waves-teal btn events-a">Go to Gallery</a>
            </p>
        </div> -->
        <!-- Lookback -->
    <!-- </div>
</div>  -->

<div class="video-panel">
<div class="container">
    <!-- Aftermovie -->
    <h2 class="header-white">Aftermovie</h2>
    <video class="aftermovie-vid" controls controlsList="nodownload">
    </video>
    <!-- Aftermovie -->
</div>
</div>
<div class="container reach">
    <!-- Contact Us -->
    <h2 class="header">Contact Us</h2>
    <div class="row">
        <div class="col m8">
            <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9475376325845!2d77.11520434925391!3d28.750983275509228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d00d9b17d06a1%3A0x51800cc052c47e36!2sDTU+Sports+Complex!5e0!3m2!1sen!2sin!4v1516540747686"
                height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col m3">
            <p class="contact">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Delhi Technological University, Bawana Rd, Shahbad Daulatpur Village, Rohini, Delhi, 110042</p>
            <p class="contact">
                <i class="fa fa-envelope" aria-hidden="true"></i> aahvaan18dtu@gmail.com</p>
            <p class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i> +91 97xxxxxxxx</p>
        </div>
    </div>
    <!-- Contact Us -->
</div>

<!-- footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>