<% include partials/nav_three %>
<div class="main">
<div id="fullpage">
    <div class="section" id="section_about">
    	<div class="container about">
    <h2 class="header">About Us</h2>
    <p class="about-para flow-text">From historical wrestling to modern cricket, sports have always played a key part in shaping our country's history.Culture
    and sports are both taken forward by people who dare to follow their dream, and with the same zeal we announce AAHVAAN
    ‘18, the annual sports fest of DTU. A unique fusion of sports and culture, AAHVAAN is an attempt to pay homage to our
    athletic heritage. Join us in this journey as we dare to merge thumping hearts with tapping feet at North India’s grandest
    Inter-Collegiate sports extravaganza from 23rd to 26th March 2018.</p>
</div>
    </div>
    <div class="section" id="section_events">
    <!-- <div class="slide" id="slide_one_events"> -->
        <div class="container event">
           <!--  <form action="register_events" method="POST">
                <input type="hidden" name="event" value="Footsoul">
           <button class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</button>
    </form> -->
    <!-- </div> -->
    <h2 class="header">Events</h2>
    <p class="about-para flow-text">Legen-Wait for it-Dary.<br>Stay tuned on this page for exciting events soon!</p>
</div>
    </div>
    <div class="section" id="section_ca">
    	<div class="container ca">
    <h2 class="header">Campus Ambassador</h2>
    <p class="about-para flow-text">Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. 
						We need imaginative and charismatic representatives in every college to create a  "happening" AAHVAAN! 
						Be a campus ambassador for AAHVAAN'18 and earn tons of first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
						<br><br>
	<a href="/campus_ambassador" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
</p>
</div>
    </div>
    <div class="section" id="section_theme"> 
    	<div class="container theme">
    <h2 class="header">Theme</h2>
    <p class="about-para flow-text">Our fest is a product of heart and soul.<br>Stay tuned as we bring you this year's theme soon.</p>
</div>
    </div>
    <div class="section" id="section_lookback">
	<div class="slide" id="slide_one">
	</div>
	<div class="slide" id="slide_two">
	</div>
	<div class="slide" id="slide_three">
	</div>
	<div class="slide" id="slide_four">
	</div>
	<div class="slide" id="slide_five">
	</div>
	<div class="slide" id="slide_six">
	</div>
	<div class="slide" id="slide_seven">
	</div>
	<div class="slide" id="slide_eight">
	</div>
	<div class="slide" id="slide_nine">
	</div>
	<div class="slide" id="slide_ten">
	</div>
    <div class="slide" id="slide_eleven">
    </div>
    <div class="slide" id="slide_twelve">
    </div>
    <div class="slide" id="slide_thirteen">
    </div>
	<div class="slide" id="slide_fourteen">
	</div>
    <div class="slide" id="slide_fifteen">
    </div>
    <div class="slide" id="slide_sixteen">
    </div>
    <div class="slide" id="slide_seventeen">
    </div>
    <div class="slide" id="slide_eightteen">
    </div>
    <div class="slide" id="slide_nineteen">
    </div>
    <div class="slide" id="slide_twenty">
    </div>
    <div class="slide" id="slide_twentyone">
        <video id="vid" width="100%" height="100%" loop controls>
            <source src="https://s3.ap-south-1.amazonaws.com/aahvaan/images/Aftermovie.mp4" type="video/mp4">
        </video>
    </div>
</div>
    <div class="section" id="section_live">
    <div class="container live">
    <h2 class="header">Live</h2>
    <p class="about-para">
	Live scores will appear once the matches begin. 
	</p>
	</div>
    </div>
    <div class="section" id="section_register">
    		<div class="container register">
    			<% if(username){ %>

    			<h2 class="header">Hello,<%= username %></h2>
    			 <p class="about-para flow-text">Please register your teams.
    			 	<br><br>
    			 	<a href="/register_teams" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
    			 </p>
    			<% }else{ %>
    <h2 class="header">Registration Steps</h2>
    <p class="about-para flow-text">Contingent Leaders can sign up and then register their teams respectively.
						<br><br>
	<a href="/register" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">SIGN UP</a>
</p>
    <h4 class="header">OR</h4>
	    <p class="about-para flow-text">Team Captains can register their team directly.
						<br><br>
	<a href="/register_teams" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
</p>
<% } %>
</div>
    </div>
</div>
</div>
