
<% include partials/header %>
	    <!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="">Aahvan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Events</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Team</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Sponsors</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Reach Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class = "nav-link" href="register"><button class="btn btn-outline-success" type="button">Register</button></a>
    </li>
     <li class="nav-item">
      <a class = "nav-link" href="live"><button class="btn btn-outline-success" type="button">Live</button></a>
    </li>
    </ul>
  </div>
</div>
</nav>
	<div>
		<div class="slideshow-text">
			<h1>
				AAHAVAN 2K18
			</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt, blanditiis reiciendis aspernatur ex! Tenetur provident aspernatur, dolorum nihil voluptatum pariatur accusamus molestias molestiae.
				Lorem
			</p>			
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
<% include partials/footer %>