<% include partials/nav_three %>
<div class="main">
<div id="fullpage">
    <div class="section" id="section_about">
    	<div class="container about">
    <h2 class="header">About Us</h2>
    <p class="about-para flow-text">From historical wrestling to modern cricket, sports have always played a key part in shaping our country's history.Culture
    and sports are both taken forward by people who dare to follow their dream, and with the same zeal we announce AAHVAAN
    ‘18, the annual sports fest of DTU. A unique fusion of sports and culture, AAHVAAN is an attempt to pay homage to our
    athletic heritage. Join us in this journey as we dare to merge thumping hearts with tapping feet at North India’s grandest
    Inter-Collegiate sports extravaganza from 23rd to 26th March 2018.</p>
</div>
    </div>
    <div class="section" id="section_events">
    <div class="slide" id="slide_one_events">
        <div class="container footsoul">
            <h2 class="header">FootSoul</h2>
            <p class="about-para flow-text">
               Club up your footballing buddies,display your skills and make your way to the top! 
             <br><br>
    <a  class="waves-effect waves-light btn-large modal-trigger" href="#modal_footsoul" style="background-color: #00b0ff;">REGISTER</a>
            </p>
        </div>
    </div>
    <div class="slide" id="slide_two_events">
             <div class="container taekwondo">
            <h2 class="header">Taekwondo</h2>
            <p class="about-para flow-text">
               Attack,brace and tumble all your opponents to be the best!
             <br><br>
    <a href="#modal_taekwondo" class="waves-effect waves-light btn-large modal-trigger" style="background-color: #00b0ff;">REGISTER</a>
            </p>
        </div>
    </div>
     <!-- <h2 class="header">Events</h2>
    <p class="about-para flow-text">Legen-Wait for it-Dary.<br>Stay tuned on this page for exciting events soon!</p> -->
    </div>
    <div class="section" id="section_ca">
    	<div class="container ca">
    <h2 class="header">Campus Ambassador</h2>
    <p class="about-para flow-text">Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. 
						We need imaginative and charismatic representatives in every college to create a  "happening" AAHVAAN! 
						Be a campus ambassador for AAHVAAN'18 and earn tons of first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
						<br><br>
	<a href="/campus_ambassador" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
</p>
</div>
    </div>
    <div class="section" id="section_theme"> 
    	<div class="container theme">
    <h2 class="header">Theme</h2>
    <p class="about-para flow-text">Our fest is a product of heart and soul.<br>Stay tuned as we bring you this year's theme soon.</p>
</div>
    </div>
    <div class="section" id="section_lookback">
	<div class="slide" id="slide_one">
	</div>
	<div class="slide" id="slide_two">
	</div>
	<div class="slide" id="slide_three">
	</div>
	<div class="slide" id="slide_four">
	</div>
	<div class="slide" id="slide_five">
	</div>
	<div class="slide" id="slide_six">
	</div>
	<div class="slide" id="slide_seven">
	</div>
	<div class="slide" id="slide_eight">
	</div>
	<div class="slide" id="slide_nine">
	</div>
	<div class="slide" id="slide_ten">
	</div>
    <div class="slide" id="slide_eleven">
    </div>
    <div class="slide" id="slide_twelve">
    </div>
    <div class="slide" id="slide_thirteen">
    </div>
	<div class="slide" id="slide_fourteen">
	</div>
    <div class="slide" id="slide_fifteen">
    </div>
    <div class="slide" id="slide_sixteen">
    </div>
    <div class="slide" id="slide_seventeen">
    </div>
    <div class="slide" id="slide_eightteen">
    </div>
    <div class="slide" id="slide_nineteen">
    </div>
    <div class="slide" id="slide_twenty">
    </div>
    <div class="slide" id="slide_twentyone">
        <video id="vid" width="100%" height="100%" loop controls>
            <source src="https://s3.ap-south-1.amazonaws.com/aahvaan/images/Aftermovie.mp4" type="video/mp4">
        </video>
    </div>
</div>
    <div class="section" id="section_live">
    <div class="container live">
    <h2 class="header">Live</h2>
    <p class="about-para">
	Live scores will appear once the matches begin. 
	</p>
	</div>
    </div>
    <div class="section" id="section_register">
    		<div class="container register">
    			<% if(username){ %>

    			<h2 class="header">Hello,<%= username %></h2>
    			 <p class="about-para flow-text">Please register your teams.
    			 	<br><br>
    			 	<a href="/register_teams" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
    			 </p>
    			<% }else{ %>
    <h2 class="header">Registration Steps</h2>
    <p class="about-para flow-text">Contingent Leaders can sign up and then register their teams respectively.
						<br><br>
	<a href="/register" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">SIGN UP</a>
</p>
    <h4 class="header">OR</h4>
	    <p class="about-para flow-text">Team Captains can register their team directly.
						<br><br>
	<a href="/register_teams" class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">REGISTER</a>
</p>
<% } %>
<div class="header">
  <a href="https://www.facebook.com/aahvaandtu/" target="_blank" style="margin-right: 20px;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/aahvaandtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
    </div>
</div>
     <div id="modal_footsoul" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center;">RULES</h4>
      <p>A TEAM’S ROSTER SHOULD NOT HAVE MORE THAN 10 PLAYERS, WITH 7 PLAYERS FORMING THE STARTING LINEUP AND 3 PLAYERS AS SUBSTITUTES.<br>
THE DURATION OF GAMEPLAY WILL BE 30 MIN. THE 1st AND 2nd HALVES BEING 15 MIN. EACH, WITH A 5 MIN. BREAK IN BETWEEN AS HALF TIME.<br>
THERE IS NO UPPER LIMIT ON THE NUMBER OF SUBSTITUTIONS IN A SINGLE MATCH. <br>A TEAM CAN MAKE MULTIPLE SUBSTITUTIONS DURING A MATCH WITH CONSENT OF THE REFEREE IN CHARGE (ROLLING SUBSTITUTION). <br>
DURING A MATCH, IF THE BALL GOES OUT OF PLAY, THE BALL WILL BE KICKED IN, INORDER TO RESUME THE PLAY. THROW IN SHALL NOT BE ALLOWED.<br>
OFFSIDE WILL NOT BE CONSIDERED DURING THE GAMEPLAY, ALTHOUGH GOAL HANGING WILL BE ACCOUNTED.<br>
INCASE, IF AT THE END OF 2nd HALF BOTH TEAMS HAVE THE SAME SCORE, THEN PENALTY SHOOT OUT (ONE–STEP) WILL BE CONDUCTED. <br>THE PEANALTY WILL BE CANCELLED (NO RE-TAKE ALLOWED) IF IT'S NOT ONE-STEP.<br>
FOOTSOUL IS A KNOCKOUT TOURNAMENT.
MATCHES WILL BE CONDUCTED AT DTU.<br>
REPORTING TIME IS 30 MIN PRIOR TO THE START OF THE MATCH. IF THE ATTENDANCE IS NOT REGISTERED 15 MINUTES BEFORE THE MATCH, OPPONENT TEAM WILL BE AWARDED A BYE.<br>
BIBS WILL BE PROVIDED BY THE ORGANISERS.
ANY KIND OF INDISCIPLINARY ACTIVITIES IN THE CAMPUS WILL RESULT IN DISQUALIFICATION.<br>
THE DTU CAMPUS IS A STRICTLY NO-SMOKING ZONE.
ALL THE PLAYERS MUST BRING THEIR ID CARD, WITHOUT WHICH ENTRY INTO THE CAMPUS WILL NOT BE PERMITTED.<br>
</p>
<h4 style="text-align: center;">
   Entry Fees for each team is &#x20b9;1500.<br>
    Tournament winner will be awarded &#x20b9;25000.
</h4>
<h5>Contact:</h5>
<p>
  Bhaskar Chaudhary: +91 9582865170<br>
  Kushagra Singh: +91 8091015015
</p>
<strong>Note: The organizing committee has the right to make changes in the rules and notifying the affected teams if required, the final prize money awarded is subjected to the number of teams participating.</strong>
    </div>
    <div class="modal-footer">
           <button  class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>>
           <form action="register_events" method="POST">
           <input type="hidden" name="event_name" value="FootSoul"> 
            <button  class="modal-action modal-close waves-effect waves-green btn-flat">Register</button>>
           </form>
    </div>
  </div>
   <div id="modal_taekwondo" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center;">RULES</h4>
      <p>For seniors we are using the latest WT Competition rules<br>
7 points for gold, 5 points for silver and 3 points for bronze medal will be awarded to the player.<br>
For every fight won player will be awarded with 1 point. <br>1 additional point will be given to player for clearing weigh-in. <br>
Maximum participation each weight category is 32.<br>
Entries will be taken on first come first serve basis.</p>
<h4 style="text-align: center;">AGES</h4>
<p>Seniors 17 years and over (2001 and before)</p>
<h4 style="text-align: center;">Weight Categories(kg)</h4>
<p>Senior Male: -58, -68, -80, 80+.</p>
<p>Senior Female: -49, -57, -67, 67+.</p>
<h4 style="text-align: center;">Protective Equipment and Uniform</h4>
<p>The participants shall wear the WT recognized Taekwondo uniform.<br>
    Groin/Forearm/shin guards/socks(ankle) and gloves are must be brought by the contestants.<br>
    Head gear and chest guard will be provided by OC.<br>
    Mouth guard(Only white or transparent).
</p>
<h4 style="text-align: center;">Documents Required</h4>
<p>The following documents(Original and photocopy of each) are required for all participants(athletes and officials).<br>
Those documents are:<br>
<ul>
<li>
    Valid National ID or Passport.
</li>
<li>
    College ID.(No entry will be entertained without valid College ID card).
</li>
</ul>
</p>
<h4 style="text-align: center;">Admission Fees</h4>
<p>
   Registration fee per athlete is &#x20b9;900.
</p>
<h4 style="text-align: center;">Prize</h4>
<p>      Every Gold medalist in each respective category will be awarded with a Medal, Certificate and cash reward of &#x20b9;5000.<br>
             Every Silver medalist in each respective category will be awarded with a Medal, Certificate and cash reward of &#x20b9;2500.<br>
             Every Bronze medalist in each respective category will be awarded with a Medal, Certificate and cash reward of &#x20b9;1000.<br>
             1st Team in overall ranking on the basis of points will receive cash award of &#x20b9;30000.<br>
             2nd Team in overall ranking on the basis of points will receive cash award of &#x20b9;15000.</p>
<h4 style="text-align: center;">Contact</h4>
<p>NAKUL ARYA: 8800737707,7982089493</p>
    </div>
    <div class="modal-footer">
           <button  class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>>
     <form action="register_events" method="POST">
           <input type="hidden" name="event_name" value="Taekwondo"> 
            <button class="modal-action modal-close waves-effect waves-green btn-flat">Register</button>>
           </form>
    </div>
  </div>
</div>
