<div class = "content">
<% var transparent = true ; %>
<% include partials/nav_aahvaan %>
	<div>
		<div class="slideshow-text">
			<h1>
				AAHAVAN 2K18
			</h1>
			<p>
				From historical wrestling to modern cricket, sports have always played a key part in shaping our country's history.Culture and sports are both taken forward by people who dare to follow their dream, and with the same zeal we announce AAHVAAN ‘18, the annual sports fest of DTU. A unique fusion of sports and culture, AAHVAAN is an attempt to pay homage to our athletic heritage. Join us in this journey as we dare to merge thumping hearts with tapping feet at North India’s grandest Inter-Collegiate sports extravaganza from 23rd to 26th March 2018.
			</p>			
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="events">
		<h4> Legen-Wait for it-Dary.Stay tuned on this page for exciting events soon!</h4>
	</div>
	<div class="ca">
		<h4>
			Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. 
			We need imaginative and charismatic representatives in every college to create a  "happening" AAHVAAN! 
			Be a campus ambassador for AAHVAAN'18 and earn tons of first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
		</h4>
		<br><br>
	</div>
	<div class="theme">
		<h4>
			Theme: Our fest is a product of heart and soul. Stay tuned as we bring you this year's theme soon.
		</h4>
	</div>
	<div class="lookback">
		<h4>
			Aahvaan 2017
			4 days. 12 sports. India's top rock band. 1 Social cause. 300 volunteers. Over 40 colleges. Delhi's first Color Run. DTU's first Sufi night. 
			Whether it was the sports infrastructure or sporting culture, AAHVAAN stood true to its meaning: a revolution. 
			This year, we go big. 
		</h4>
	</div>
<% include partials/footer %>
</div>