<% var transparent = true ; %>
<% include partials/header %> 

<div class="home-body">

	<div class="home-page" id="home">

		<nav class="home-nav">
			<div class="center">
				<span>
					AAHVAAN
				</span>
			</div>
			<div class="top">
				<button id="Events">Events</button>
				<button id="CA">Campus Ambassador</button>
				<button id="Theme">Theme</button>
				<button id="Lookback">Lookback</button>
			</div>
			<div class="middle">
				<a href="/">
					<img src="images/aahvaan_logo.jpg">
				</a>
			</div>
			<div class="bottom">
				<a href="/register"><button>Register Leader</button></a>
				<a href="/login"><button>Log In</button></a>
			</div>
		</nav>
		<div class="home-text">
				<div class="landing-text">
					<h2>AAHAVAN 2K18</h2>
					<p> 
						From historical wrestling to modern cricket, sports have always played a key part in shaping our country's history.Culture and sports are both taken forward by people who dare to follow their dream, and with the same zeal we announce AAHVAAN ‘18, the annual sports fest of DTU. A unique fusion of sports and culture, AAHVAAN is an attempt to pay homage to our athletic heritage. Join us in this journey as we dare to merge thumping hearts with tapping feet at North India’s grandest Inter-Collegiate sports extravaganza from 23rd to 26th March 2018.
					</p>			
				</div>

				<div class="events">
					<h2>Events</h2>
					<p> Legen-Wait for it-Dary. Stay tuned on this page for exciting events soon!</p>
				</div>

							
				<div class="campus-ambassador" id="campus">
					<h2>Campus Ambassador</h2>
					<p>
						Steve Wozniak's tech wasn't the "Apple" of anyone's eye without Steve Jobs' charisma. 
						We need imaginative and charismatic representatives in every college to create a  "happening" AAHVAAN! 
						Be a campus ambassador for AAHVAAN'18 and earn tons of first hand experience and huge credentials. Register your interest here and we'll get back to you once applications open!
						<button> <a href="/campus_ambassador">Click here</a></button> to apply
					</p>
					<br><br>
				</div>

						
				<div class="theme">
					<h2>Theme</h2>
					<p>
						Theme: Our fest is a product of heart and soul. Stay tuned as we bring you this year's theme soon.
					</p>
				</div>

						
				<div class="lookback-text">
					<h2>Lookback</h2>
					<div>
						<p>
							4 days. 12 sports. India's top rock band. 1 Social cause. 300 volunteers. Over 40 colleges. Delhi's first Color Run. DTU's first Sufi night. 
						</p>
						<p>
							Whether it was the sports infrastructure or sporting culture, AAHVAAN stood true to its meaning: a revolution. 
							This year, we go big. 
						</p>
					</div>
				</div>


				<div class="lookback-video">
					<h2>Aftermovie</h2>
					<div>
						<video width="320" height="240" controls controlsList="nodownload">
							<!-- <source src="videos/avh.mp4" type="video/mp4">
							Your browser does not support the video tag. -->
						</video>
					</div>

				</div>

				<div class="lookback-gallery">
					<div id="row">
						<div id="column">
							<div class="img-elem"><img src="images/25.jpeg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img src="images/26.jpeg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img src="images/27.jpeg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img src="images/28.jpeg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/5.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
						</div>
						<div id="column">
							<div class="img-elem"><img  src="images/11.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/12.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/13.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/14.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/9.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
						</div>
						<div id="column">
							<div class="img-elem"><img  src="images/15.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/16.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/17.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/18.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
						</div>
						<div id="column">
							<div class="img-elem"><img  src="images/1.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/2.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/3.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
							<div class="img-elem"><img  src="images/4.jpg"><i class="fa fa-search" aria-hidden="true"></i></div>
						</div>
					</div>
					<div class="cancel-btn-container">
						<button class="cancel-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
					</div>
				</div>
		</div>

		</div>

		<footer class="home-footer">
			<div>
				<a href="https://www.facebook.com/aahvaandtu/"><button><i class="fa fa-facebook-square" aria-hidden="true"></i></button></a>
				<a href="#"><button><i class="fa fa-instagram" aria-hidden="true"></i></button></a>
			</div>
		</footer>

</div>