<% var transparent = false ; %>
<% include partials/nav_aahvaan %>
<section class="card__view">
	<div class="row1 space">
		<i class="fa fa-thumbs-o-up feature-box__icon" aria-hidden="true"></i>
	</div>
	<div class="row1 green-space">
		<h2 class="heading-tertiary heading-tertiary--mid">
			Thank you for registration<br>
			
		</h2>
		<p>
			Next Steps are: <br>
			<ul>
				<li>
					Download and sign up on Viintro app.
				</li>
				<li>
					Play Store: <a href="http://bit.ly/DTUdroid" target="_blank">http://bit.ly/DTUdroid</a>
				</li>
				<li>
					Apple Store: <a href="http://apple.co/2BJdMBw" target="_blank">http://apple.co/2BJdMBw</a>
				</li>
				<li>
					Make profile video expressing your love towards Zakir.
				</li>
				<li>
					Take screenshot of your profile.
				</li>
				<li>
					Upload screenshot on <a href='<%= link %>'><%= link %></a> . Image size should be less than 1MB. 
				</li>
					<li>
					Registration will be final only after the above mentioned steps are completed. 
				</li>
				<li>
					There are limited number of tickets available. You will get your ticket once you complete all the above mentioned steps. Any discrepancy found in the above mentioned steps will result in cancellation of your ticket.
				</li>
				<li>
					The ticket will be generated only once. Please download it and then only close the tab.
				</li>
			</ul>
		</p>
	</div>
</section>
<% include partials/footer %>