<% var transparent = false; %>
<% include partials/nav_aahvaan %>
<!-- <div class="card" style="margin-top: 5rem;">
	<div class="card-header text-center">
		<h2>Login to register teams</h2>
    <% if(alert){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Wrong credentials!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = false %>
<% } %>
	</div>
    <div class="card-body" style="margin-left: 5rem; margin-right: 5rem;">
       <form action="/login" method="POST">
          <div class="form-group">
    		<input type="email" class="form-control" name="leader_email" aria-describedby="emailHelp" placeholder="Enter email" required="true">
    	  </div>
    	  <div class="form-group">
    		<input type="password" id="user_password" class="form-control" name="leader_password" placeholder=" Enter Password" required="true">
  		  </div>
        <div class="form-check">
          <input type="checkbox" name="showPassword" class="form-check-input"  
          onchange="document.getElementById('user_password').type = this.checked ? 'text' : 'password'">
          Show Password
        </div>
        <div class="form-group">
        <a href="">Forgot Password??</a>
        </div>
        <div class="text-center">
  		  <button type="submit" class="btn btn-primary col-md-4 text-center">Log In</button>
      </div>
  		</form>
    </div>
</div> -->


 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/login" class="form" method="POST">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                       Login to register teams
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input type="email"  name="leader_email" class="form__input" placeholder="Email address" id="email" required>
                                    <label for="email" class="form__label">Email Address</label>
                                </div>
                                <div class="form__group">
                                    <input type="password" name="leader_password" class="form__input" placeholder="Password" id="pass" required>
                                    <label for="pass" class="form__label">Enter Password</label>
                                </div>
                                 
                                <div class="form__group u-margin-bottom-medium">
                                    <div class="form__check-group">
                                      <input type="checkbox" name="showPassword" class="form__check-input" id="reveal_pass" onchange="document.getElementById('user_password').type = this.checked ? 'text' : 'password'">
                      
                                        <label for="reveal_pass" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Show Password
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group u-margin-small">
                                  <a href="">Forgot Password??</a>
                                </div>
                                <div class="form__group">
                                    <button class="butn butn--green">Login &rarr;</button>
                                </div>

                             </form>
                         </div>
                     </div>
                 </div>
             </section>




<% include partials/footer %>