<% var transparent = false; %>
<% include partials/nav_aahvaan %>
<div id="showTabs">
    <% if(alert==1){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Wrong credentials!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }else if(alert==2){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Password successfully updated!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% alert = 0; %>
<main class="main-form">
 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/login" class="form" method="POST">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                       Login to register teams
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input type="email"  name="leader_email" class="form__input" placeholder="Email address" id="email" required>
                                    <label for="email" class="form__label">Email Address</label>
                                </div>
                                <div class="form__group">
                                    <input type="password" name="leader_password" class="form__input" placeholder="Password" id="pass" required>
                                    <label for="pass" class="form__label">Password</label>
                                </div>
                                 
                                <div class="form__group u-margin-bottom-small">
                                    <div class="form__check-group">
                                      <input type="checkbox" name="showPassword" class="form__check-input" id="reveal_pass" onchange="document.getElementById('pass').type = this.checked ? 'text' : 'password'">
                      
                                        <label for="reveal_pass" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Show Password
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group u-margin-small">
                                  <a href="/forgot_password">Forgot Password??</a>
                                </div>
                                <div class="form__group">
                                    <button class="butn butn--green">Login &rarr;</button>
                                </div>

                             </form>
                         </div>
                     </div>
                 </div>
             </section>
</main>

</div>


<% include partials/footer %>