<% var transparent = false; %>
 <% include partials/nav_aahvaan %> 
<% if(alert){ %>
<div class="alert alert-warning alert-dismissible fade show creds-main" role="alert">
  <strong class="creds">Wrong phone number!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% alert = false %>
<% } %>

<section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/register_events" class="form" method="POST" id="register_events">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                       <%= event %>&nbsp;Team Information %>
                                    </h2>
                                </div>
                                 <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                      Amount:&nbsp;&#x20b9;<p id="amount_para" class="heading-secondary-main">0</p>
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input type="hidden"  name="event_name" class="form__input" value='<%= event %>' id="event">
                                    <input type="hidden" name="amount" id="amount">
                                </div>
                                <div class="form__group">
                                    <input type="text" name="captain_name" class="form__input" placeholder="Enter Captain Name" id="captain" required>
                                    <label for="captain" class="form__label">Captain's Name</label>
                                </div>
                                <div class="form__group">
                                    <input type="tel" name="captain_number" class="form__input" placeholder="Captains Contact Number(Eg. 8743080047)" id="contact" required minlength="10" maxlength="10">
                                    <label for="contact" class="form__label">Captain's Contact Number</label>
                                </div>
                                <div class="form__group">
                                    <input type="email" name="team_email" class="form__input" placeholder="Enter Email" id="email" required>
                                    <label for="email" class="form__label">Enter Email</label>
                                </div> 
                                <div class="form__group">
                                    <input type="text" name="college_name" class="form__input" placeholder="Enter College Name" id="college" required>
                                    <label for="college" class="form__label">College Name</label>
                                </div>
                                  <div class="form__group u-margin-bottom-small">
                                    <div class="form__check-group">
                                      <input type="checkbox" name="gender" value="Male" class="form__check-input" id="male">
                                        <label for="male" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Male
                                        </label>
                                    </div>
                                    <div class="form__check-group">
                                      <input type="checkbox" name="gender" value ="Female" id="female" class="form__check-input" id="female">
                                        <label for="female" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Female
                                        </label>
                                    </div>
                                </div>
                                 <div class="form__group u-margin-bottom-small">
                                    <div class="form__check-group">
                                      <input type="checkbox" name="accomodation" class="form__check-input" id="accomodation" value="true">
                      
                                        <label for="accomodation" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Accomodation <a href="#popUp" id="openPopUp">?</a>
                                        </label>
                                    </div>
                                </div>
                                <aside id="popUp" class="popup">
                                    <div class="popUpContainer">
                                       <header>
                                        <a href="#!" class="closePopUp">X</a>
                                        <h2>Note</h2>
                                       </header>
                                      <article>
                                        <ul class="tooltip__list">
                                            <li class="tooltip__item">
                                              Accomodation fee is &#x20b9; 1500 per player which includes Registration fee.
                                            </li>
                                            <li class="tooltip__item">
                                              This fee includes security deposit(&#x20b9; 300) which is refundable.
                                            </li>
                                          </ul>
                                      </article>
                                   </div>        
                                   <a href="#!" class="closePopUpOutSide"></a>    
                                </aside>
                                <div class="form__group">
                                    <input type="number" name="number_of_players" class="form__input" placeholder="Enter number of players in the team" id="number" required>
                                    <label for="number" class="form__label">Number of Players</label>
                                </div>
                                <div class="team-players form__group"></div>
                                <div class="form__group">
                                    <button class="butn butn--green">Submit &rarr;</button>
                                </div>

                             </form>
                         </div>
                     </div>
                 </div>
             </section>
           <% include partials/footer %>