<% include partials/nav_aahvaan %>

<div class="container-main">
	

	<div class="sports sports-1">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						Athletics
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 offset-md-2">
					<h4 class="heading-secondary">Men</h4>
					<div class="row">
						<div class="col-md-6">
							<ul class="categories">
								<li class="categories__type">100m</li>
								<li class="categories__type">200m</li>
								<li class="categories__type">400m</li>
								<li class="categories__type">800m</li>
								<li class="categories__type">1500m</li>
								<li class="categories__type">3000m</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="categories">
								<li class="categories__type">4*100m Relay</li>
								<li class="categories__type">4*400m Relay</li>
								<li class="categories__type">Long Jump</li>
								<li class="categories__type">Shot Put</li>
								<li class="categories__type">Discus Throw</li>
								<li class="categories__type">Triple Jump</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h4 class="heading-secondary">Women</h4>
					<div class="row">
						<div class="col-md-6">
							<ul class="categories">
								<li class="categories__type">100m</li>
								<li class="categories__type">200m</li>
								<li class="categories__type">400m</li>
								<li class="categories__type">800m</li>
								<li class="categories__type">1500m</li>
								<li class="categories__type">3000m</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="categories">
								<li class="categories__type">5000m</li>
								<li class="categories__type">4*100m Relay</li>
								<li class="categories__type">4*400m Relay</li>
								<li class="categories__type">Long Jump</li>
								<li class="categories__type">Shot Put</li>
								<li class="categories__type">Discus Throwm</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h4 class="heading-secondary">
						Mixed
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-2">
					<ul class="categories">
						<li class="categories__type">4*100m Relay (2 Men + 2Women)</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="categories">
						<li class="categories__type">4*400m Relay (2 Men + 2Women)</li>
					</ul>
				</div>
			</div>

			<p class="description">
				 In all the field events each participant will get 3 trials, of which the best will be considered for evaluation.
 				Heats will be conducted only for the 100m race, based on which participants will be selected
				to compete in the final race.
 				All other races will be time trails i.e., the final standings will be based on the best timings,
				irrespective of the position in the heats. The participants will be timed and the results will be decided accordingly.
 				For all the races, only one foul start overall will be considered. Any athlete committing a
				second foul start will be disqualified.
 				A maximum of 2 participants from each college in any particular event for boys and a maximum of 2 participants from each college for girls in one event are allowed (excluding
				relays, which require 4 per college team).
 				An invidual can participate in a maximum of 3 individual events (excluding relays). An event
				may stand cancelled in case of insufficient participation.
 				In any case of conflict, the referee's decision will be considered as final.
			</p>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h4 class="heading-tertiary">
						For individual event: 
					</h4>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Gold is <em>800 INR.</em>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Silver is <em>400 INR.</em> 
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h4 class="heading-tertiary">
						For relay:
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Gold is <em>2000 INR.</em> 
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning prize for Silver is <em>800 INR.</em> 
					</h5>
				</div>
			</div>	
	</div>
	</div>	
	<div class="sports sports-2">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						Badminton
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Format of Match: Best of 5 games (in the order) - singles, singles, doubles, singles, doubles.</li>
						<li class="description__list">Each game will have best of 3 sets (21 points each).</li>
						<li class="description__list">Team line-up for every match must be submitted before the match. Any request to change the lineup won’t be accepted after submission of the list.</li>
						<li class="description__list">Latest BWF rules will be followed for every game.</li>
						<li class="description__list">A team minimum of 4 players and maximum 6 players is required to register.</li>
						<li class="description__list">Maximum of two players can play in two games (one singles and one doubles).</li>
						<li class="description__list">In case of any discrepancy or conflict, the decision of the organizers/officials shall be final.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>900 INR.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>7500 INR</b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>3500 INR.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Format of Match: Best of 3 games (in the order) - singles, doubles, singles.</li>
						<li class="description__list">Each game will have best of 3 sets (21 points each).</li>
						<li class="description__list">Team line-up for every match must be submitted before the match. Any request to change the line up won’t be accepted after submission of the list.</li>
						<li class="description__list">Latest BWF rules will be followed for every game.</li>
						<li class="description__list">A team minimum of 3 players and maximum 4 players is required to register.</li>
						<li class="description__list">Only one player is allowed to play in two games (one singles and one doubles).</li>
						<li class="description__list">In case of any discrepancy or conflict, the decision of the organizers/officials shall be final.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>600 INR.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>5000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>2000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">PUNEET VALECHA (BADMINTON M): 8860994691</h6></div>
				<div class="col-md-6"><h6 class="heading-small">CHHAVI (BADMINTON W): 9873371087</h6></div>
			</div>
			
			
			
	</div>	
	</div>
	<div class="sports sports-3">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						Basketball
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">The maximum team limit is 12 players.</li>
						<li class="description__list">The game shall consist of 4 quarters of 10 minutes each and 4 time outs: 2 time outs in each half.</li>
						<li class="description__list">If there is a tie at the end of a game, a match of 5 minutes will be played. This will go on until one team outruns the other.</li>
						<li class="description__list">Concerning the game-play, all standard FIBA rules will be followed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1200.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 10000.</b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">The maximum team limit is 12 players.</li>
						<li class="description__list">The game shall consist of 4 quarters of 8 minutes each and 4 time outs: 2 time outs in each half.</li>
						<li class="description__list">If there is a tie at the end of a game, a match of 5 minutes will be played. This will go on until one team outruns the other.</li>
						<li class="description__list">Concerning the game-play, all standard FIBA rules will be followed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1200.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 10000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">AAYUSH SWASTIK (BASKETBALL M): 8130034416</h6></div>
				<div class="col-md-6"><h6 class="heading-small">APOORVA SHARMA (BASKETBALL W): 7838498393</h6></div>
			</div>
	</div>	
	</div>
	<div class="sports sports-4">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						chess olympiad
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">All FIDE Rules apply as on 1st Jan 2017 unless otherwise mentioned.</li>
						<li class="description__list">The basic pairing system shall be Controlled Swiss System Pairings using Match Points for both Pairing and Scoring.</li>
						<li class="description__list">Time control: 25 minutes plus an additional 10 second increment per move.</li>
						<li class="description__list">Number of rounds will be decided depending on the number of participating teams.</li>
						<li class="description__list">Chess clocks shall be provided to top boards in cases on shortage of clocks. Participants can use their own chess clocks for the matches.</li>
						<li class="description__list">A team must consist of a maximum of 5 players, with 4 players playing in the tournament and one player playing as a substitute.</li>
						<li class="description__list">There shall be no restriction to including women players in the Chess Team.</li>
						<li class="description__list">Each team must clearly state the playing order of its team while sending the entry. If the team wishes to play their substitute in a particular round, the Team Captain should intimate this to the Chief Arbiter before the round begins. Rules for substitution have been explained below in detail.</li>
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">Rules for substitution: "Roll over substitution"</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The boards lower to the board on which substitution is made will slide up one board till the board of substitution.</li>
						<li class="description__list"><strong>Example 1:</strong> Assume the following board order- A-1, B-2, C-3, D-4. Substitute player E. In case, the player A (on board 1) is to be substituted, the new board order should be B-1, C-2, D-3, E-4 (Non- playing A).</li>
						<li class="description__list"><strong>Example 2:</strong> Assume following board order- A-1, B-2, C-3, D-4. Substitute player E. In case the player C (on board 3) is to be substituted, the new board order should be A-1 B-2, D-3, E-4 (Non playing-C).</li>
						<li class="description__list">No player shall be replaced after the team has been registered.</li>
						<li class="description__list">Each team is required to play through the entire tournament. Teams which do not play two rounds in succession shall be automatically disqualified and their name shall be struck off from the pairing list.</li>
						<li class="description__list">Each team shall be awarded 1 point for a win, 0.5 points for a 2-2 draw and 0 points in case of a loss. In case of the same number of points of two winning teams, the winner shall be adjudged according to FIDE guidelines.</li>
						<li class="description__list">The final positions of the teams shall be established by the number of game points scored by each team.</li>
						<li class="description__list">Only one participating team is permitted from a single college. The host college shall have 2 participating teams in the tournament.</li>
						<li class="description__list">In case of any dispute, the decision of the Chief Arbiter shall be considered final and binding.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
						
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 7000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						1st runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						2nd runners up will be awarded <b>&#x20b9; 3000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">NITIN LOHCHAB (CHESS OLYMPIAD): 7827916709, 7015666409</h6></div>
				<div class="col-md-6"><h6 class="heading-small">SHASHWAT KISHORE (CHESS OLYMPIAD): 9899897555</h6></div>
			</div>
	</div>	
	</div>
	<div class="sports sports-5">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						cricket(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Matches shall be played according to the ICC rules in force, as adopted from time to time by the Board of Control for Cricket in India, unless otherwise modified.</li>
						<li class="description__list">All the matches shall be conducted on knock out basis and each side is allowed to complete 20 overs unless the opposing team is dismissed earlier. Each bowler can bowl a maximum of 4 overs. The semi-finals and final also will be of 20 overs.</li>
						<li class="description__list">The bowling team will be given 85 minutes to complete its quota of 20 overs. The penalty for every short over will be decided by all the umpires prior to the meet.</li>
						<li class="description__list">No spike shoes will be allowed to use by the players.</li>
						<li class="description__list">If there is a tie, SUPER OVER will be played.</li>
						<li class="description__list">The umpires are empowered to rearrange the number of overs by each side in the event of a delayed start or if play is suspended. The number of overs for the team batting second will not be reduced if the team batting first has been dismissed in fewer than agreed number of overs.</li>
						<li class="description__list">Each team shall submit a list of players with their COLLEGE IDs not exceeding sixteen who may participate in the tournament. Not more than 16 certificates shall be awarded to a team. Failing to provide legitimate IDs will not allow that player to participate.</li>
						<li class="description__list">In case, if any team is found playing player who doesn't belong to that particular college, that team will be banned from the tournament with immediate effect and no PRIZE will be awarded in any case.</li>
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">Other important points:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">In case of heavy rain, decision taken by umpires will be considered as final.</li>
						<li class="description__list">In case of any discrepancy during finals or semi-finals, winner will be decided on the basis of point tally of league matches STRICTLY.</li>
						<li class="description__list">Teams need to report to the ground 15 minutes before the scheduled start time.</li>
						<li class="description__list">Walkover will be given to a team if the opponent team is not able to reach the ground within 15 minutes of the scheduled time.</li>
						<li class="description__list">No team shall argue with umpires in any case. It could lead to cancellation of team registration and no refunds will be given. It could also attract proper disciplinary actions against the team.</li>
		
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 4000.</b></li>
						
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 15000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">HARSH VIKRAM (CRICKET): 9891671291</h6></div>
				<div class="col-md-6"><h6 class="heading-small">VAIBHAV GAUHANIA (CRICKET): 9811699417</h6></div>
			</div>
	</div>	
	</div>
	<div class="sports sports-6">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						football(men and women)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Matches shall be played according to the rules of FIFA as adopted from time to time by the All India Football Federation unless otherwise modified.</li>
						<li class="description__list">Every team shall submit a list of players, not exceeding 16, who may participate in the tournament. Not more than 16 certificates shall be awarded to a team.</li>
						<li class="description__list">The duration of each match shall be 50 minutes (25-5-25). During the league stage, after the expiry of play-time, if the tie still persists, the points shall be shared equally.</li>
						<li class="description__list">In the event of a draw at the end of a knock out game, two periods of extra time (10 minutes each, with 2 minutes break) will be included. There will be penalty shootout if the tie still persists.</li>
						<li class="description__list">A team will be awarded 3 points for a win, 1 for draw, and zero points for a lost match.</li>
						<li class="description__list">In case of tie, goal differences (i.e. Goals FOR minus Goals AGAINST) of all the matches played by the team shall be considered. If the tie still persists, the number of goals 'FOR' throughout the tournament shall be considered. If tie still persists, a coin toss will be done.</li>
						<li class="description__list">Three substitutions per match will be allowed.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1900.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 15000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Every team shall submit a list of players, not exceeding 12, who may participate in the tournament. Not more than 12 certificates shall be awarded to a team.</li>
						<li class="description__list">Matches will be played with teams having 7 players each.</li>
						<li class="description__list">The duration of each match shall be 30 minutes (15-5-15). During the league stage, if there is a tie, the points shall be shared equally.</li>
						<li class="description__list">In the event of a draw at the end of a knock out game, there will be a penalty shootout (no extra time).</li>
						<li class="description__list">A team will be awarded 3 points for a win, 1 for draw, and zero points for a lost match.</li>
						<li class="description__list">In case of tie, goal differences (i.e. Goals FOR minus Goals AGAINST) of all the matches played by the team shall be considered. If the tie still persists, the number of goals 'FOR' throughout the tournament shall be considered. If tie still persists, a coin toss will be done.</li>
						<li class="description__list">Rolling substitution will be allowed during the match.</li>
						<li class="description__list">Offside rule will not be considered during the match.</li>
						<li class="description__list">When the ball goes out of play, the ball will be kicked in to start the play. Throw in shall not be allowed.</li>
						<li class="description__list">There will be a minimum distance of 5 yards between opponent and the ball while starting the play from still ball. Eg. When there is a foul, kick in, free kick, etc.</li>
						<li class="description__list">All other basic rules of FIFA will be followed during the match.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 7000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 3000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">YOGESH KUMAR (FOOTBALL M): 9650071614</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ABHILASHA SINGH (FOOTBALL W): 8826985531</h6></div>
			</div>
			
			
			
	</div>	
	</div>
	<div class="sports sports-7">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						handball(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The match consists of two periods of 30 minutes each.</li>
						<li class="description__list">From a maximum of 10 players from each college 7 players will be on the field at a time including goalkeeper and 6 outfield players.</li>
						<li class="description__list">Outfield players can touch the ball with any part of their body that is above the knee.</li>
						<li class="description__list">Once a player recieves possession, they can pass, hold possession or shoot.</li>
						<li class="description__list">If a player holds possession, they can dribble or take three steps for up to three seconds without dribbling.</li>
						<li class="description__list">Goalkeepers are allowed out of the goal area but must not retain possession if they are outside the goal area.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>


			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 3000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><h6 class="heading-small">AMAN JAIN: 9810900824</h6></div>
				
			</div>
		</div>
	</div>
	<div class="sports sports-8">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						kabaddi(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The tournament shall be conducted under the International Kabaddi Federation rules as adopted by the Amateur Kabaddi Federation of India, unless otherwise modified.</li>
						<li class="description__list">Every team shall submit a list of players, not exceeding 12, who may participate in the tournament. Not more than 12 certificates shall be awarded to a team.</li>
						<li class="description__list">No team shall argue with referees in any case. It could lead to cancellation of team registration and no refunds will be given. It could also attract proper disciplinary actions against the team.</li>
						<li class="description__list">Once a player recieves possession, they can pass, hold possession or shoot.</li>
		
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>


			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 11000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">SACHIN MAAN: 7503550912</h6></div>
				<div class="col-md-6"><h6 class="heading-small">PRASHANT CHAUDHARY: 8585967926</h6></div>
				
			</div>
		</div>
	</div>
	<div class="sports sports-9">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						powerlifting(men)
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">The competition shall be conducted under the International Power Lifting Federation Rules as adopted by the Indian Powerlifting Federation, unless otherwise modified.</li>
						<li class="description__list">Weight Categories: 55-65 Kg, 65-75 Kg, 75-85 Kg, 85+ Kg. (Categories are subject to change depending on the number of contestants.)</li>
						<li class="description__list">The competition will comprise of 3 lifts - Squat, Bench Press & Dead Lift performed in the same order.</li>
						<li class="description__list">Every lifter will get 3 lift attempts each for bench press, squat & dead lift.</li>
						<li class="description__list">The progression after every successful attempt for the same athlete must be a minimum of 1 kilogram.</li>
						<li class="description__list">Winner will be judged by the sum of heaviest lifts performed successfully for each kind of lift.</li>
						<li class="description__list">Each participant will be weighed and tested for dope before the prelims.</li>
					</ul>
				</div>	
			</div>

			<h3 class="heading-secondary--1">Fouls :-</h3>

			<h5 class="heading-secondary--1">SQUAT</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Failure to bend the knees and lower the body until the top surface of the legs at the hip joint are lower than the top of the knees.</li>
						<li class="description__list">Failure to assume an upright position with the knees locked at the commencement and completion of the lift. Any downward movement of the bar during the lift. Changing the position of the bar across the shoulders after the commencement of the lift. Any downward movement of the bar on the back more than the diameter/thickness of the bar below the lifter's chosen starting position.</li>
						<li class="description__list">Stepping backward or forward although lateral movement of the foot and rocking the feet between the ball and heel is permitted.</li>
						
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">BENCH PRESS:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Bar is not lowered to chest i.e. not reaching the chest or is touching the abdominal area.</li>
						<li class="description__list">Any pronounced or exaggerated uneven extension of the arms during the lift. Any downward movement of the whole of the bar in the course of being pressed out. Failure to press the bar to full extension of the arms at the completion of the lift.</li>
						<li class="description__list">Heaving, or sinking the bar after it has been motionless on the chest, in such a way as to aid the lifter.</li>
						
					</ul>
				</div>	
			</div>

			<h5 class="heading-secondary--1">DEAD LIFT:</h5>

			<div class="row">
				<div class="col-md-12">
					
					<ul class="description">
						<li class="description__list">Failure to lock the knees straight at the completion of the lift. Failure to stand erect with the shoulders back.</li>
						<li class="description__list">Any downward movement of the bar before it reaches the final position. If the bar settles as the shoulders come back this should not be reason to disqualify the lift. Supporting the bar on the thighs during the performance of the lift. If the bar edges up the thighs but is not supported, this is not a reason for disqualification.</li>
						<li class="description__list">Lowering the bar before receiving the referee signal.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each player is <b>&#x20b9; 100.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						1st runners up will be awarded <b>&#x20b9; 3000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						2nd runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">HIMANK: 8010806004</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ABHISHEK RAJ: 8882496445</h6></div>
			</div>
	</div>	
	</div>
	<div class="sports sports-10">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						table tennis
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">The rules of the tournament of the International Table Tennis Federation as adopted from time to time by the Table Tennis Federation of India shall apply unless otherwise modified.</li>
						<li class="description__list">Format of Play: Singles (A vs X), singles (B vs Y), doubles (C vs Z) and reverse singles (A vs Y & B vs X).</li>
						<li class="description__list">A maximum of 4 players and a minimum of 3 players are allowed in a team.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">The rules of the tournament of the International Table Tennis Federation as adopted from time to time by the Table Tennis Federation of India shall apply unless otherwise modified.</li>
						<li class="description__list">Format of Play: Singles (A vs X), singles (B vs Y), doubles (C vs Z) and reverse singles (A vs Y & B vs X).</li>
						<li class="description__list">A maximum of 4 players and a minimum of 3 players are allowed in a team.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">SHUBHAM BAJAJ (TABLE TENNIS M): 9999934266</h6></div>
				<div class="col-md-6"><h6 class="heading-small">ANKITA ARORA (TABLE TENNIS W): 9968892928</h6></div>
			</div>
			
			
			
	</div>	
	</div>
	<div class="sports sports-11">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						tennis
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Each team should have minimum 3 and maximum 4 players.</li>
						<li class="description__list">Each match will have two singles and one doubles match. The reverse singles will only be played to break the tie (in case one team wins the singles and the other team wins the doubles).</li>
						<li class="description__list">Only one player is allowed to play both singles and doubles matches.</li>
						<li class="description__list">First stage will be pool stage where the number of pools and the number of teams in them will be decided on the basis of the number of participating teams.</li>
						<li class="description__list">The pool stage matches will be best of 17 games each.</li>
						<li class="description__list">The semis and finals will be best of 3 sets each.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 600.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 5000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 2000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Each team should have minimum 2 and maximum 4 players.</li>
						<li class="description__list">The format of the match will include one singles round then one doubles round (Best of three short sets (each short set comprises of 7 games) for the initial rounds). In case of a draw, there will be a singles tie-breaker of 11 points.</li>
						<li class="description__list">The doubles match may be played by any two players from the team.</li>
						<li class="description__list">The finals will be best of 3 sets each.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 500.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 4000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 1500 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">SIDDHARTHA (TENNIS M): 9958668692</h6></div>
				<div class="col-md-6"><h6 class="heading-small">POORVA SHRIVASTAVA (TENNIS W): 9650137260</h6></div>
			</div>
			
			
			
	</div>	
	</div>
	<div class="sports sports-12">
	<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h1 class="heading-primary">
						volleyball
					</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Men</h4>
					<ul class="description">
						<li class="description__list">Concerning the game-play, all standard FIVB rules will be followed.</li>
						<li class="description__list">Teams should report to the court half an hour before their match.</li>
						<li class="description__list">All the players will be required to show their ID cards before the beginning of the match failing which the defaulting inpidual will not be allowed to play.</li>
						<li class="description__list">"Rotation" rule will be followed during all the matches unless both the teams agree to play "fixed".</li>
						<li class="description__list">All league matches will be best out of three sets. Each set will be of 25 points.</li>
						<li class="description__list">In case of any dispute during the match, the decision of the referees will be considered final and binding.</li>
						<li class="description__list">Any disciplinary violation by any member of the team will lead to disqualification of the team.</li>
						<li class="description__list">If a team arrives late by more than 15 minutes, it will be awarded a 2-0 (25-0, 25-0) loss.</li>
						<li class="description__list">Teams should bring their own balls for practice. Match balls will be provided for the matches.</li>
						<li class="description__list">The schedule of the tournament is subject to change at any point of time, so the teams are requested to check the notice board regularly.</li>
			
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000. </b>
					</h5>
				</div>
			</div>	
			<div class="row u-heading-margin-bottom">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 4000.</b>
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4 class="heading-secondary">Women</h4>
					<ul class="description">
						<li class="description__list">Maximum players allowed in a team - 10.</li>
						<li class="description__list">All standard FIVB rules applicable.</li>
						<li class="description__list">"Rotation" rule will be followed during all matches, unless both the teams agree to play "fixed".</li>
						<li class="description__list">The format of the tournament will be decided upon the arrival of teams.</li>
						<li class="description__list">All league matches will be best out of 3 sets. Each set will be of 25 points.</li>
						<li class="description__list">The schedule of the tournament will be provided to the teams upon their arrival and is subject to change at any point of time, so the teams are requested to check the notice board regularly.</li>
						<li class="description__list">In case of any dispute during the match, the decision of the referees will be considered final and binding.</li>
						<li class="description__list">Any disciplinary violation by any member of the team will lead to disqualification of that team.</li>
						<li class="description__list">All the players will be required to show their ID cards before the beginning of the match failing which the defaulting inpidual will not be allowed to play.</li>
						<li class="description__list">Teams should report to the court half an hour before their match.</li>
						<li class="description__list">If a team arrives late by more than 15 minutes, it will be awarded a 2-0 (25-0, 25-0) loss.</li>
						<li class="description__list description__list--mod u-heading-margin"><b>ENTRY FEES:</b> Entry fee for each team is <b>&#x20b9; 1000.</b></li>
					</ul>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h2 class="heading-primary u-heading-margin">
						Cash Prizes
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Winning team will be awarded <b>&#x20b9; 8000 INR.</b>
					</h5>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<h5 class="heading-tertiary__1">
						Runners up will be awarded <b>&#x20b9; 4000 INR.</b>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h6 class="heading-small">PRASHANT CHAUDHARY (VOLLEYVALL M): 8585967926</h6></div>
				<div class="col-md-6"><h6 class="heading-small">RAJNANDINI (VOLLEYBALL W): 8750699862</h6></div>
			</div>
			
			
			
	</div>	
	</div>
</div>


<% include partials/footer %>


