<% var transparent = false; %>
<% include partials/nav_aahvaan %>
 <% if(alert==1){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Wrong credentials!!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% alert=0 %>
    <% }else if(alert==2){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error in registration!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% alert=0 %>
    <% }else if(alert==3) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Email already registered!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% alert=0 %>
      <% } %>
<main class="main-form">
 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                            <form action="/register" class="form" method="POST">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary-main">
                                       Contingent leader information
                                    </h2>
                                </div>
                                 <div class="form__group">
                                    <input type="text"  name="leader_name" class="form__input" placeholder="Enter Name" id="Name" required>
                                    <label for="Name" class="form__label">Enter Name</label>
                                </div>
                                <div class="form__group">
                                    <input type="text" name="leader_college" class="form__input" placeholder="Enter College Name" id="college" required>
                                    <label for="college" class="form__label">College Name</label>
                                </div>
                                <div class="form__group">
                                    <input type="tel"  name="leader_number" class="form__input" placeholder="Contact Number(Eg. 8743080047)" id="contact" required minlength="10" maxlength="10">
                                    <label for="contact" class="form__label">Contact Number(Eg. 8743080047)</label>
                                </div>
                                <div class="form__group">
                                    <input type="email" name="leader_email" class="form__input" placeholder="Enter Email" id="email" required>
                                    <label for="email" class="form__label">Enter Email</label>
                                </div>
                                <div class="form__group">
                                    <input type="password" name="leader_password" class="form__input" placeholder="Choose Password" id="year" required>
                                    <label for="year" class="form__label">Choose Password</label>
                                </div>
                                <div class="form__group u-margin-bottom-medium">
                                    <div class="form__check-group">
                                      <input type="checkbox" name="showPassword" class="form__check-input" id="reveal_pass" onchange="document.getElementById('year').type = this.checked ? 'text' : 'password'">
                                        <label for="reveal_pass" class="form__check-label">
                                            <span class="form__check-button"></span>                
                                             Show Password
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button class="butn butn--green">Submit &rarr;</button>
                                </div>

                             </form>
                         </div>
                     </div>
                 </div>
             </section>
</main>