<% var transparent = false ; %>
<% include partials/nav_aahvaan %>
<% if(alert==1){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Password and confirm Password do not match!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% alert=0; %>
 <section class="section-book">
                <div class="row1">
                    <div class="book">
                        <div class="book__form">
                          <form action="/reset_password" method="POST">
                          	<input type="hidden" name="token" value="<%= token %>">
                             <div class="u-margin-bottom-medium">
                                 <h2 class="heading-secondary-main">
                                     Enter new password 
                                  </h2>
                              </div>
                               <div class="form__group">
                                 <input type="password"  name="leader_password" class="form__input" placeholder="Enter password" id="password" required>
                                 <label for="password" class="form__label">Enter Password</label>
                               </div>
                                <div class="form__group">
                                 <input type="password"  name="leader_password_confirm" class="form__input" placeholder="Confirm password" id="confirm_password" required>
                                 <label for="confirm_password" class="form__label">Confirm Password</label>
                               </div>
                               <div class="form__group">
                                    <button class="butn butn--green">Update &rarr;</button>
                                </div>
                             </form>
                           </div>
                         </div>
                       </div>
                     </section>}
