<% var transparent = false ; %>
<% include partials/nav_aahvaan %>
<section class="card__view">
	<div class="row1 space">
		<i class="fa fa-thumbs-o-up feature-box__icon" aria-hidden="true"></i>
	</div>
	<div class="row1 green-space">
		<h2 class="heading-tertiary heading-tertiary--mid">
			Thank you for registration!<br>
		</h2>
		<p>
			<% if(links.length==1){ %>
			Payment link:<a href='<%= links[0] %>' target="blank"><%= links[0] %></a>
			<% }else{ %>
			Following are the payment links :<br>
			<ul>
			<% links.forEach(function(link){ %>
			<li><a href='<%= link %>' target="blank"><%= link %></a></li>
		<% }) %>
		</ul>
			<% } %>
		</p>
	</div>
</section>
<% include partials/footer %>