*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
}

  @media (max-width: 75em) {
    html {
      font-size: 90%; } }

  @media (max-width: 56.25em) {
    html {
      font-size: 80%; }

  } 

  @media (max-width: 420px) {
    html {
      font-size: 75%;
    }
  }


#showTabs{
  padding-top: 100px;
}

.container-main {
  width: 100%;
  height: 100%;
}

.sports {
  box-shadow: 1rem 1.3rem 3.5rem rgba(0,0,0,.15);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: screen;
}

.title-sport {
  text-align: center;
}

 @media (max-width: 75em) {
    .title-sport {
  text-align: center;
    } }

  @media (max-width: 56.25em) {
    .title-sport {
  text-align: center;
      } }

.sports-1 {
  margin-top: 0;
  background-image: linear-gradient(to right bottom, #8e8e3d, #afaf36), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/athletics.jpg);
}

.sports-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/badminton.jpg);
}

.sports-3 {
  background-image: linear-gradient(to right bottom, #4BC0C8, #267871), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/basketball.jpg);
}

.sports-4{
    background-image: linear-gradient(to right bottom,  #eaeaea, #ADA996), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/chess.jpg);
}
.sports-5{
    background-image: linear-gradient(to right bottom, #BBD2C5, #536976, #BBD2C5), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/cricket.jpg);
}
.sports-6{
    background-image: linear-gradient(to right bottom, #DBD5A4, #649173), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/football.jpg);
}
.sports-7{
    background-image: linear-gradient(to right bottom, #304352, #d7d2cc), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/handball.jpg);
}
.sports-8{
    background-image: linear-gradient(to right bottom,#abbaab, #ffffff), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/kabbadi.jpg);
}
.sports-9{
    background-image: linear-gradient(to right bottom,#EFEFBB, #D4D3DD), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/powerlifting.jpg);
}
.sports-10{
    background-image: linear-gradient(to right, #eaeaea, #ADA996), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/tabletennis.jpg);
}
.sports-11{
    background-image: linear-gradient(to right bottom, #304352, #d7d2cc), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/tennis.jpg);
}
.sports-12{
    background-image: linear-gradient(to right bottom, #304352, #d7d2cc), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/volleyball.jpg);
}

.heading-primary {
  width: 100%;
  text-align: center;
  margin-top: 1.4rem;
  text-shadow: 0 1.3rem 3.5rem rgba(0,0,0,.5);
  text-transform: uppercase;
  letter-spacing: 0.2rem;

}

#heading__power {
  letter-spacing: 3px;
}

.heading-text {
  display: block;
}

.heading-secondary {
  text-transform: uppercase;
  text-shadow: 0 1.3rem 3.5rem rgba(0,0,0,.5);
  text-align: center;
}

.heading-secondary--1 {
  margin-top: 1rem;
  text-transform: uppercase;
  text-shadow: 0 1.3rem 3.5rem rgba(0,0,0,.5);
}

.categories__type {
  text-align: center;
  list-style: none;
  text-shadow: 0 1rem 2.5rem rgba(0,0,0,.2);
}

.description {
  margin-top: 1.3rem;
}

.description__list {
  font-weight: 400;
  text-shadow: .2rem .3rem 1rem rgba(0,0,0,.5);
}

.u-heading-margin {
  margin-top: 2rem;
}

.u-heading-margin-bottom {
  margin-bottom: 2rem;
}

.heading-tertiary, .heading-tertiary__1 {
  text-align: center;
  text-shadow: 0 1.3rem 3.5rem rgba(0,0,0,.5);
  
}

.heading-tertiary__1 {
  font-size: 1.17rem;
}

.heading-small {
  text-align: center;
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
  text-shadow: 0 1.3rem 3.5rem rgba(0,0,0,.5);
}


.description__list--mod {
  list-style: none;
  font-size: 1.2rem;
}

.rectangle{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width:200px;
  height:200px;
  transition: all 0.3s ease-in;
}


.rectangle-1 {
  background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/athletics.jpg);
  background-size: cover;
}

.rectangle-2 {
  background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/badminton.jpg);
  background-size: cover;
}

.rectangle-3 {
  background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/basketball.jpg);
  background-size: cover;
}

.rectangle-4{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/chess.jpg);
    background-size: cover;
}
.rectangle-5{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/cricket.jpg);
    background-size: cover;
}
.rectangle-6{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/football.jpg);
    background-size: cover;
}
.rectangle-7{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/handball.jpg);
    background-size: cover;
}
.rectangle-8{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/kabbadi.jpg);
    background-size: cover;
}
.rectangle-9{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/powerlifting.jpg);
    background-size: cover;
}
.rectangle-10{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/tabletennis.jpg);
    background-size: cover;
}
.rectangle-11{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/tennis.jpg);
    background-size: cover;
}
.rectangle-12{
    background-image: url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/volleyball.jpg);
    background-size: cover;
}

.scale-up {
  transform: scale(1.2);
}
.scale-down {
  transform: scale(0.8);
  opacity: 0.1;
}

.circle-red {
 background-color: #FF0000;
 height: 15px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 15px;
}
.circle-green {
 background-color: #008000;
 height: 15px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 15px;
}

.circle-grey {
 background-color: #A9A9A9;
 height: 15px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 15px;
}

.credentials {
  text-align: center;
}

.card__view {
  margin: 0 27rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
  .card__view {
    margin: 0 5rem;
  }
}

.space {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
   padding: 2rem 0;
  font-size: 5rem;
  text-align: center;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 3px;
  /*box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);*/
  /*background-image: linear-gradient(to right bottom, #7ed56f, #28b485); */
  height: 100%;
}


.green-space {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); 
}

#showTabs {
  padding-top: 5rem;
}

.creds-main {
  text-align: center;
  font-size: 1.34rem;
  margin-bottom: 0;
}

.creds {
  margin: 0 auto;
  text-transform: uppercase;
}

.main-form {
  width: 100%;
  height: 100%;
  padding-bottom: 0rem;
  position: relative;
  box-sizing: border-box;
}

.section-book {
  padding: 6.81rem 0;
  padding-top: 5rem;
  box-sizing: inherit;
  background-color: #CE6A67; 
  height: 100%;
 
}

.section-block {
  margin-top: 3.4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 40vh;
  height: 100%;
  box-shadow: .5rem 1rem 2rem rgba(0,0,0, .2);
  background-image: linear-gradient(to right bottom, rgba(126,213,111, .7), rgba(40,180,133, .7)), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/sportmain2.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }


.heading-tertiary--mid {
  vertical-align: middle;
  padding: 3rem 0;
}

@media (max-width: 56.25em) {
    .section-book {
      padding: 4.54rem 0; } }


@media (max-width: 56.25em) {
  .section-block {
    
    padding-bottom: 30vh;
  }
}

@media (max-width: 37.5em) {
  .section-block {
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30vh;
  }
}

.book {
  background-image: linear-gradient(95deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/sportmain1.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 0.9rem 2.5rem rgba(0, 0, 0, 0.2);
  
}



@media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/sportmain1.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(https://s3.ap-south-1.amazonaws.com/aahvaan/images/sportmain1.jpg); } }

.book__form {
  width: 50%;
  padding: 3.75rem; 
}

@media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }


.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

@media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 1.87rem !important; } }

.u-margin-top-medium {
  margin-top: 2.5rem !important;
}

.u-margin-small {
  margin-top: 0;
  margin-bottom: 6rem;
  margin-left: .5rem;
}


.heading-secondary-main {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .12rem; 
}

@media (max-width: 56.25em) {
    .heading-secondary-main {
      font-size: 1.37rem; } }
@media (max-width: 37.5em) {
    .heading-secondary-main {
      font-size: 1.14rem; } }

.heading-secondary-main:hover {
  /*transform: skewY(2deg) skewX(15deg) scale(1.1);*/
  text-shadow: 0.3rem 0.6rem 1.25rem rgba(0, 0, 0, 0.2); 
}

.form__input {
  font-size: 0.9rem;
  font-family: inherit;
  color: inherit;
  padding: 0.9rem 1.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; 
}

@media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }

.form__input:focus {
  outline: none;
  box-shadow: 0 0.62rem 1.25rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a; 
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; 
}

.form__input::-webkit-input-placeholder {
  color: #999; 
}

.form__label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 1.25rem;
  margin-top: .4rem;
  display: block;
  transition: all .3s; 
}

.form__input-width {
  width: 90%;
}

.form__group-dis {
  display: inline-block;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem); 
}

.form__check-group {
  width: 49%;
  display: inline-block; 
}

@media (max-width: 56.25em) {
    .form__check-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__check-input {
  display: none; 
}

.form__check-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.1rem; 
}

.form__check-button {
  height: 1.87rem;
  width: 1.87rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.25rem; 
}

.form__check-button::after {
  content: "";
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity .2s; 
}

.form__check-input:checked ~ .form__check-label .form__check-button::after {
  opacity: 1; 
}


.row1 {
  max-width: 71.25rem;
  margin: 0 auto; 
}

.row1:not(:last-child) {
  margin-bottom: 5rem;

}

 @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3.5rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 31.25rem;
      padding: 0 2.5rem; } }

.row1::after {
  content: "";
  display: table;
  clear: both; 
}



.butn, .butn:link, .butn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9rem 2.5rem;
  display: inline-block;
  border-radius: 6.25rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer; 
}

.butn:hover, .butn:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.62rem 1.25rem rgba(0, 0, 0, 0.2); 
}

.butn:hover::after, .butn:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; 
}

.butn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3rem 0.62rem rgba(0, 0, 0, 0.2); 
}


.butn--green {
  background-color: #55c57a;
  color: #fff; 
}

.butn--green::after {
  background-color: #55c57a; 

}

#openPopUp{
  text-align:center;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 0 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
  transition:background-color 0.15s linear;
  -webkit-transition:background-color 0.15s linear;
  -moz-transition:background-color 0.25s linear;
  -o-transition:background-color 0.25s linear;
}
a#openPopUp:hover{
  cursor: pointer;
  background-color: #1abc9e;
}
.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.popup .popUpContainer{
  width: 100%;
  max-width: 500px;
  position: fixed; /* To avoid scroll to target */
  left: 50%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999; 
}
.popup h2{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}
.popup img{
  width: 100%;
  display: block;
}
.popup article{
	height: 300px;
  background-color: #CE6A67;
}
/* The cancel button on popup dialog */
.popup a.closePopUp{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
/* The cancel button on popup dialog */
.popup a:hover{
  color: #c0392b;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
  opacity: 1;
  top: 0;
}
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.popup:target .popUpContainer{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .popup .popUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}

.tooltip__list {
  width: 80%;
  margin-left: 10%;
  
}

.tooltip__item {
  font-size: 1.2rem;
  padding-top: 1rem;
  color: white;
}

.main {
    margin-top: 1rem;
    margin-left: 5rem;
   
}

img {
    max-width:864px;
    max-height:570px;
    width: auto;
    height: auto;

}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}


.logo__main {
  width: 50%;
}
