.home-body{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: url("images/25.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: scroll;
  font-family: monospace;
}

.home-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.landing-text,.events,.campus-ambassador,.theme,.lookback-text,.lookback-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 800px;
  background: rgba(0,0,0,0.7);
  border-radius: 4px;
  padding: 10px 20px;
  /*display: none;*/
}

.home-nav{
  position: fixed;
}

.home-nav .center{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 45vw;
}

.home-nav .center span{
  padding: 10px 30px;
  background:#ff5c2b;
  color: white;
  font-size: 22px;
}

.home-nav .top{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 8vh;
  display: flex;
  flex-direction: column;
}

.home-nav .top button{
  width: 70px;
  height: 30px;
}

#CA{
  padding-bottom: 18px;
}

.home-nav .middle{
  position: relative;
  z-index: 1;
  left: 0;
  top: 42vh;
}

.home-nav .middle img{
  width: 50px;
  height: 50px;
  filter: brightness(200%);
  box-shadow: 5px 5px 10px black;
}

.home-nav .bottom{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 72vh;
  display: flex;
  flex-direction: column;
}

.home-nav .bottom button{
  width: 70px;
  height: 30px;
}

.home-footer div{
  position: absolute;
  z-index: 1;
  top: 35vh;
  right: 0;
  display: flex;
  flex-direction: column;
}

.home-footer button{
  width: 50px;
  height: 30px;
}

.home-nav button,.home-footer button {
  outline: none; 
  border:none;
  cursor: pointer;
  color: tomato;
  margin: 1px 0;
  background: rgba(41, 61, 61,1);
  padding: 6px 4px;
}




/*nav_ahvaan navbar*/

.navbar {
  z-index: 3; 
  position: fixed;
  width: 100%;
  border: 1px solid white;
  transition:background 0.4s ease-in-out;
  background: rgba(0,0,0,0.8);
}

.navbar-brand img{
  width: 80px;
  height: 80px;
  filter: brightness(200%);
  box-shadow: 5px 5px 10px black;
}

.navbar-nav li{
  margin: 0 50px;
  position: relative;
}

.navbar-nav .reg-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-nav .ml-auto{
  display: flex;
  flex-direction: row;
}

/*footer buttons*/

.footer{
    position: fixed;
    left: 0px;
    top:40vh; 
    display: flex;
    flex-direction: column;
}

.footer button{
  width: 70px;
  height: 50px;
  outline: none; 
  border:none;
  cursor: pointer;
  color: tomato;
  margin: 1px 0;
  background: rgba(41, 61, 61,1);
}

@media only screen and (max-width: 1000px) {

  .navbar-nav{
    margin-top: 35px;
  }

  .navbar-nav li{
      margin:0;
    }
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(41, 61, 61,1);
}

::-webkit-scrollbar-thumb {
    background: tomato;
    /*-webkit-border-radius: 1ex;*/
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: rgba(41, 61, 61,1);
}

@media only screen and (max-width: 600px) {

  .home-footer button {
    padding: 1px 1px;
    width: 25px;
    height: 15px;
    font-size: 8px;
    margin: 0.5px 0;
  }

  .home-nav button{
    font-size: 8px;
    width: 45px;
    height: 15px;
    padding: 0;
  }

  .home-nav .center{
    left: 45vw;
  }

  .home-nav .center span{
    padding: 2px 3px;
    font-size: 12px;
  }

  .home-nav .middle{
    top: 53vh;
  }

  .landing-text,.events,.campus-ambassador,.theme,.lookback-text,.lookback-video{
    width: 45%;
    font-size: 8px;
  }

  video{
    width: 200px;
    height: 150px;
  }

  #CA{
    padding-bottom: 6px;
  }

  .navbar-brand img{
    margin-left: 50px;
  }

  .navbar-brand img{
    width: 40px;
    height: 40px;
  }
  
  #sandwich {
    margin-right: 60px;
  }

  .footer button{
    width: 40px;
    height: 30px;
  }
  
}